<template>
    <modal
        id="employee-list-modal"
        size="extra-large"
        v-model="showModal"
        :title="from === 'user' ? generateModalTitle('user') : generateModalTitle('trabajador')"
        @submit="submit"
        :loading="loading"
        :btn-label="selectedUrl ? $t('save') : $t('invite')"
        :preloader="preloader">

        <form
            v-if="isMailSettingExist || selectedUrl"
            ref="form"
            :data-url='selectedUrl ? selectedUrl : EMPLOYEE_INVITE'
            @submit.prevent="submitData"
        >
        <div class="row border p-3 mt-3 position-relative">
                <h4 class="personal-info-header text-primary"><app-icon name="user"/> INFORMACIÓN PERSONAL</h4>

                <div class="col-md-2 d-none">
                    <app-form-group
                        :label="$t('employee_id')"
                        :placeholder="$placeholder('employee_id')"
                        v-model="formData.employee_id"
                        :required="true"
                        :error-message="$errorMessage(errors, 'employee_id',true,true)"
                    />

                </div>
                <div class="col-md-2 d-none">
                    <app-form-group
                        :label="'Cod. Modular [' + (formData.modular_code ? formData.modular_code.length : 0) + ']'"
                        placeholder="Introduce número"
                        v-model="formData.modular_code"
                        :required="true"
                        :error-message="$errorMessage(errors, 'modular_code')"
                    />
                </div>
                <div class="col-md-2">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo doc. identidad *"
                        list-value-field="option"
                        v-model="formData.document_type_id"
                        :chooseLabel="'Selecciona tipo doc. identidad'"
                        :error-message="$errorMessage(errors, 'document_type_id')"
                        :fetch-url="SELECTABLE_DOCUMENT_TYPES"
                    />
                </div>
                <div class="col-md-2">
                    <app-form-group
                        :label="'Número doc. [' + (formData.document_number ? formData.document_number.length : 0) + '] *'"
                        placeholder="Introduce número"
                        v-model="formData.document_number"
                        :required="true"
                        :error-message="$errorMessage(errors, 'document_number')"
                    />
                </div>
                <div class="col-md-2">
                    <app-form-group
                        :label="'Número RUC [' + (formData.ruc_number ? formData.ruc_number.length : 0) + ']'"
                        placeholder="Introduce RUC"
                        v-model="formData.ruc_number"
                        :required="true"
                        :error-message="$errorMessage(errors, 'ruc_number')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Apellido paterno *"
                        placeholder="Introduce apellido paterno"
                        v-model="formData.last_name"
                        :required="true"
                        :error-message="$errorMessage(errors, 'last_name')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Apellido materno *"
                        placeholder="Introduce apellido materno"
                        v-model="formData.middle_name"
                        :required="true"
                        :error-message="$errorMessage(errors, 'middle_name')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Nombres *"
                        placeholder="Nombres"
                        v-model="formData.first_name"
                        :required="true"
                        :error-message="$errorMessage(errors, 'first_name')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        key="gender-radio-group"
                        label="Sexo"
                        type="radio"
                        :list="[
                            {id:'male',value: $t('male')},
                            {id:'female', value:  $t('female')}
                        ]"
                        v-model="formData.gender"
                        :error-message="$errorMessage(errors, 'gender')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Fecha nacimiento"
                        type="date"
                        v-model="formData.date_of_birth"
                        :placeholder="$placeholder('date_of_birth','')"
                        :error-message="$errorMessage(errors, 'date_of_birth')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Estado Civil"
                        list-value-field="name"
                        v-model="formData.marital_status_id"
                        :chooseLabel="'Elige estado civil'"
                        :error-message="$errorMessage(errors, 'marital_status_id')"
                        :fetch-url="SELECTABLE_MARITAL_STATUSES"
                    />
                </div>
            </div>

            <!-- DATOS DE CONTACTO -->
            <div class="row border p-3 mt-5 position-relative">
                <h4 class="personal-info-header text-primary"><app-icon name="map"/> INFORMACIÓN DE CONTACTO</h4>
                <div class="col-md-2">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo de vía"
                        list-value-field="option"
                        v-model="formData.addresses.road_type" 
                        :chooseLabel="'Selecciona tipo de vía'"
                        :required="true"
                        :error-message="$errorMessage(errors, 'road_type')"
                        :fetch-url="SELECTABLE_ROAD_TYPES"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group
                        label="Nombre de vía"
                        type="text"
                        placeholder="Nombre de vía"
                        v-model="formData.addresses.details"
                        :required="true"
                        :error-message="$errorMessage(errors, 'details')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Departamento"
                        list-value-field="option"
                        v-model="formData.addresses.state"
                        chooseLabel="Selecciona departamento"
                        :required="true"
                        :error-message="$errorMessage(errors, 'addresses.state')"
                        :fetch-url="SELECTABLE_MDEPARTMENTS"
                        @change="onDepartamentoChange()"
                    />
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Provincia">Provincia</label>
                        <select class="form-control" v-model="formData.addresses.city" @change="onProvinciaChange()" required>
                            <option value="">Selecciona provincia</option>
                            <option v-for="province in provincesData" :key="province.id" :value="province.id">
                                {{ province.option }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Distrito">Distrito</label>
                        <select class="form-control" v-model="formData.addresses.area">
                            <option value="">Selecciona distrito</option>
                            <option v-for="district in districtsData" :key="district.id" :value="district.id">
                                {{ district.option }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="select"
                        :label="$t('country')"
                        :chooseLabel="$t('country')"
                        v-model="formData.addresses.country"
                        :list="countries"
                        form-group-class="mb-md-0"
                        :error-message="$errorMessage(errors, 'country')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Correo electrónico"
                        placeholder="Correo electrónico"
                        v-model="formData.email"
                        :required="true"
                        :error-message="$errorMessage(errors, 'email')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Nro celular"
                        type="tel-input"
                        v-model="formData.phone_number"
                        :placeholder="$placeholder('phone_number','')"
                        :error-message="$errorMessage(errors, 'phone_number')"
                    />
                </div>
            </div>
            <div class="row border p-3 mt-5 position-relative">
                <h4 class="personal-info-header text-primary"><app-icon name="briefcase"/> INFORMACIÓN LABORAL</h4>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        :label="$t('employment_status')"
                        list-value-field="name"
                        v-model="formData.employment_status_id"
                        :chooseLabel="$t('employment_status')"
                        :error-message="$errorMessage(errors, 'employment_status_id')"
                        :fetch-url="`${SELECTABLE_EMPLOYMENT_STATUS}?excluded=terminated`"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Categoría de Trabajador"
                        list-value-field="name"
                        v-model="formData.worker_category_id"
                        chooseLabel="Elige categoría de trabajador"
                        :error-message="$errorMessage(errors, 'worker_category_id')"
                        :fetch-url="SELECTABLE_WORKER_CATEGORIES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Nivel Educativo"
                        list-value-field="name"
                        v-model="formData.education_level_id"
                        chooseLabel="Elige nivel educativo"
                        :error-message="$errorMessage(errors, 'education_level_id')"
                        :fetch-url="SELECTABLE_EDUCATION_LEVELS"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Fecha de Ingreso"
                        type="date"
                        v-model="formData.entry_date"
                        placeholder="Fecha de Ingreso"
                        :error-message="$errorMessage(errors, 'entry_date')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Unidad Ejecutora"
                        list-value-field="name"
                        v-model="formData.agency_id"
                        chooseLabel="Elige una agencia"
                        :error-message="$errorMessage(errors, 'agency_id')"
                        :disabled="true"
                        :fetch-url="SELECTABLE_AGENCIES"
                    />
                </div>
                <!-- department_id -->
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Establecimiento / Área"
                        list-value-field="name"
                        v-model="formData.department_id"
                        chooseLabel="Elige un Establecimiento / Área"
                        :error-message="$errorMessage(errors, 'department_id')"
                        :fetch-url="SELECTABLE_DEPARTMENT"
                    />
                </div>
                <!-- designation_id -->
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Cargo"
                        list-value-field="name"
                        v-model="formData.designation_id"
                        chooseLabel="Elige un cargo"
                        :error-message="$errorMessage(errors, 'designation_id')"
                        :fetch-url="SELECTABLE_DESIGNATION"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Código NEXUS"
                        v-model="formData.nexus_code"
                        placeholder="Introduce el Código NEXUS"
                        :error-message="$errorMessage(errors, 'nexus_code')"
                    />
                </div>
            </div>
            
            <app-form-group-selectable
                type="multi-select"
                class="d-none"
                v-if="$can('attach_users_to_roles')"
                label="Rol en el aplicativo"
                list-value-field="name"
                v-model="formData.roles"
                :chooseLabel="$t('role')"
                :error-message="$errorMessage(errors, 'roles')"
                :fetch-url="SELECTABLE_ROLE"
            />
            
            <app-form-group
                v-if="from === 'user'"
                class="mb-primary"
                type="single-checkbox"
                label=""
                :list-value-field="$t('do_not_show_in_employee_list')"
                v-model="formData.dont_show_in_employee"
            />
        </form>
        <app-note v-else
                  :title="$t('no_delivery_settings_found')"
                  :notes="$optional(currentTenant, 'is_single') ?
                  `<ol>
                     <li>${$t('cron_job_settings_warning',{
                      documentation: `<a href='https://payday.gainhq.com/documentation/important-settings.html#scheduler-queue' target='_blank'>${$t('documentation')}</a>`
                  })}</li>
                     <li>${$t('no_delivery_settings_warning', {
                      location: `<a href='${urlGenerator(TENANT_EMAIL_SETUP_SETTING)}'>${$t('here')}</a>`
                  })}</li>
                  </ol>`: [$t('no_delivery_settings_warning_none')]"
                  content-type="html"
        />
        <template v-if="!isMailSettingExist && !selectedUrl" slot="footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                {{ $t('close') }}
            </button>
        </template>
    </modal>
</template>

<script>
import moment from "moment";
import FormHelperMixins from "../../../../common/Mixin/Global/FormHelperMixins";
import ModalMixin from "../../../../common/Mixin/Global/ModalMixin";
import countries from "./Helper/countries";
import {addChooseInSelectArray} from "../../../../common/Helper/Support/FormHelper";

import {
    EMPLOYEES_LIST,
    SELECTABLE_DEPARTMENT,
    SELECTABLE_ROLE,
    SELECTABLE_DESIGNATION,
    SELECTABLE_EMPLOYMENT_STATUS,
    EMPLOYEE_INVITE, AUTO_EMPLOYEE_ID,

    SELECTABLE_DOCUMENT_TYPES,
    SELECTABLE_MARITAL_STATUSES,
    SELECTABLE_WORKER_TYPES,
    SELECTABLE_PERSONAL_SITUATIONS,
    SELECTABLE_WORKER_CATEGORIES,
    SELECTABLE_EDUCATION_LEVELS,
    SELECTABLE_AGENCIES,
    SELECTABLE_COST_CENTERS,
    SELECTABLE_PENSION_REGIMES,
    SELECTABLE_CONTRACT_TYPES,
    SELECTABLE_LABOR_REGIMES,
    SELECTABLE_PAYMENT_FREQUENCIES,
    SELECTABLE_PAYMENT_CURRENCIES,
    SELECTABLE_AIRHSP_TYPES,
    SELECTABLE_ROAD_TYPES,
    SELECTABLE_MDEPARTMENTS,
    SELECTABLE_MPROVINCES,
    SELECTABLE_MDISTRICTS,
    SELECTABLE_OCCUPATIONAL_GROUPS,
    SELECTABLE_PUBLIC_EMPLOYEE_TYPES,
    SELECTABLE_PUBLIC_HEALTH_REGIME,
    SELECTABLE_FINANCIAL_ENTITIES,
} from "../../../Config/ApiUrl";
import {
    TENANT_MAIL_CHECK_URL,
    TENANT_EMAIL_SETUP_SETTING
} from "../../../../common/Config/apiUrl";
import {axiosGet} from "../../../../common/Helper/AxiosHelper";
import {formatDateForServer} from "../../../../common/Helper/Support/DateTimeHelper";

export default {
    name: "EmployeeListCreateEditModel",
    mixins: [FormHelperMixins, ModalMixin],
    props: {
        from: {
            type: String,
            default: 'employee'
        }
    },
    data() {
        return {
            isMailSettingExist: true,
            //Para ubigeo
            selectedDepartamento: null,
            selectedProvincia: null,
            selectedDistrito: null,
            //
            districtsData:[],
            provincesData:[],

            formData: {
                // Profile
                employee_id: '',
                department: {},
                roles: [],
                designation: {},
                employment_status: {},
                is_in_employee: false,
                employment_status_id: '', //Default VIGENTE
                document_type_id: 1,
                document_number: '',
                ruc_number: '',
                first_name: '',
                last_name: '',
                middle_name: '',
                gender: 'male',
                marital_status_id: '',
                date_of_birth: '',
                email: '',
                phone_number: '',
                worker_category_id: '', //Default TRABAJADOR
                education_level_id: '',
                entry_date: moment().format('YYYY-MM-DD'), //Default today
                disability: false,
                unionized: false,
                resident: true,
                //Payroll setting
                modular_code:'',
                agency_id: '', // Default PPPAL
                department_id: '',
                designation_id: '',
                worker_type_id: 1, //Tipo de plaza CONTRATADO
                cost_center_id: '', //TODO
                pension_regime_id: '',
                cussp: '',
                commission: '',
                contract_type_id: '',
                labor_regime_id: '',
                payment_currency_id: '', //Moneda nacional
                is_contract: false,
                contract_number:'',
                contract_start_date: '',
                contract_end_date: '',
                airhsp_type_id: '', //CAS
                airhsp_code: '', //CAS
                have_suspension_4ta:false,
                have_health_insurance:true,
                health_regime_id:'',
                nro_health_insurance:'',
                payment_type_id:'',
                financial_entity_id:'',
                account_number:'',
                inter_account_number:'',
                work_day:'',
                occupational_group_id:'',
                days_worked: '', // Inicializar con la cantidad de días del mes actual
                days_subsidized: 0,
                days_absent: 0,
                total_days: '', // Inicializar total_days con la cantidad de días del mes actual
                salary:'',
                basic_remuneration: 0,
                basic_remuneration_start_at: '', //Default today
                //Dirección
                addresses: {
                    road_type: '',
                    details:'',
                    state:'',
                    city:'',
                    area:'',
                    zip_code:'',
                    country:'',
                    phone_number: '',
                    type: 'present_address',
                },
                // allowances: [11], //11 -> INCREMENTO MENSUAL SEGÚN D.S. N° 311-2022 | 10 -> HONORARIOS
                // allowanceValues: [64.19], //64.19 -> D.S. N° 311-2022 | 0 -> Honorarios
                // allowancePercentages: [false], // No son %

                // deductions: [], // 2 -> ONP, 
                // deductionValues: [], // 10
                // deductionPercentages: [], // Si son %

                // contributions: [1], // 1 -> ESSALUD
                // contributionValues: [10], // 10
                // contributionPercentages: [1], // Si son %

                allowances: [],
                allowanceValues: [],
                allowancePercentages: [],
                deductions: [],
                deductionValues: [],
                deductionPercentages: [],
                contributions: [],
                contributionValues: [],
                contributionPercentages: [],


            },
            EMPLOYEES_LIST,
            SELECTABLE_DEPARTMENT,
            SELECTABLE_ROLE,
            SELECTABLE_DESIGNATION,
            SELECTABLE_EMPLOYMENT_STATUS,
            EMPLOYEE_INVITE,
            TENANT_EMAIL_SETUP_SETTING,
            SELECTABLE_DOCUMENT_TYPES,
            SELECTABLE_MARITAL_STATUSES,
            SELECTABLE_WORKER_TYPES,

            SELECTABLE_PERSONAL_SITUATIONS,
            SELECTABLE_WORKER_CATEGORIES,
            SELECTABLE_EDUCATION_LEVELS,

            SELECTABLE_AGENCIES,
            SELECTABLE_COST_CENTERS,
            SELECTABLE_PENSION_REGIMES,
            SELECTABLE_CONTRACT_TYPES,
            SELECTABLE_LABOR_REGIMES,
            SELECTABLE_PAYMENT_FREQUENCIES,
            SELECTABLE_PAYMENT_CURRENCIES,
            SELECTABLE_AIRHSP_TYPES,
            SELECTABLE_ROAD_TYPES,

            SELECTABLE_MDEPARTMENTS,
            SELECTABLE_MPROVINCES,
            SELECTABLE_MDISTRICTS,
            SELECTABLE_OCCUPATIONAL_GROUPS,
            SELECTABLE_PUBLIC_EMPLOYEE_TYPES,
            SELECTABLE_PUBLIC_HEALTH_REGIME,
            SELECTABLE_FINANCIAL_ENTITIES,

            pension_regimes: [],
            selectedTypeRP: {id: '', name: '', type: ''},
            genders: [
                        {id:'male',value: 'Masculino'},
                        {id:'female', value:  'Femenino'}
                    ],
            
        }
    },
    methods: {
        submit() {
            this.fieldStatus.isSubmit = true;
            this.loading = true;
            this.message = '';
            this.errors = {};
            this.formData.is_in_employee = this.formData.dont_show_in_employee ? 0 : 1;
            this.formData.joining_date = formatDateForServer(this.formData.joining_date);
            this.submitData(this.formData);
        },
        afterSuccess({data}) {
            this.formData = {};
            $('#employee-list-modal').modal('hide');
            this.$emit('input', false);
            this.toastAndReload(data.message, this.from === 'employee' ? 'employee-table' : 'user-table');
            if (this.from === 'user') {
                this.$hub.$emit(`reload-role-table`)
            }
            if (this.from === 'payslip') {
                this.$emit('message', true);
            }
        },
        afterSuccessFromGetEditData({data}) {
            
            // this.formData = data;
            this.formData.employee_id = data.profile?.employee_id;
            this.formData.roles = this.collection(data.roles).pluck();
            this.formData.designation_id = data.designation?.id;
            this.formData.department_id = data.department?.id;
            this.formData.employment_status_id = data.employment_status?.id;
            this.formData.dont_show_in_employee = parseInt(this.formData.is_in_employee) ? 0 : 1;
            this.formData.gender = data.profile?.gender;

            // user
            this.formData.first_name = data?.first_name;
            this.formData.middle_name = data?.middle_name;
            this.formData.last_name = data?.last_name;
            this.formData.email = data?.email;
            this.formData.salary = data.salary?.amount;

            // profile
            this.formData.joining_date = data.profile?.joining_date ? new Date(data.profile?.joining_date) : null;
            this.formData.entry_date = data.profile?.entry_date ? new Date(data.profile?.entry_date) : null;
            this.formData.code = data.profile?.code;
            this.formData.ruc_number = data.profile?.ruc_number;
            this.formData.document_type_id = data.profile?.document_type_id;
            this.formData.document_number = data.profile?.document_number;
            this.formData.marital_status_id = data.profile?.marital_status_id;
            this.formData.date_of_birth = data.profile?.date_of_birth ? new Date(data.profile?.date_of_birth) : null;
            this.formData.worker_category_id = data.profile?.worker_category_id;
            this.formData.education_level_id = data.profile?.education_level_id;
            this.formData.entry_date = data.profile?.entry_date;
            this.formData.disability = data.profile?.disability;
            this.formData.unionized = data.profile?.unionized;
            this.formData.resident = data.profile?.resident;
            this.formData.phone_number = data.profile?.phone_number || '';

            // addresses
            this.formData.addresses.road_type =  data.addresses[0]?.value.road_type;
            this.formData.addresses.details = data.addresses[0]?.value.details;
            this.formData.addresses.state = data.addresses[0]?.value.state;
            this.formData.addresses.city = data.addresses[0]?.value.city;
            this.formData.addresses.area = data.addresses[0]?.value.area;
            this.formData.addresses.zip_code = data.addresses[0]?.value.zip_code;
            this.formData.addresses.country = data.addresses[0]?.value.country;
            this.formData.addresses.phone_number =  data.addresses[0]?.value.phone_number;
            this.formData.addresses.type = 'present_address';
            this.onDepartamentoChange();
            this.onProvinciaChange();

            // payroll information
            this.formData.modular_code = data.payroll_information?.modular_code;
            this.formData.agency_id = data.payroll_information?.agency_id || 1;
            this.formData.department_id = data.payroll_information?.department_id;
            this.formData.designation_id = data.payroll_information?.designation_id;
            this.formData.worker_type_id = data.payroll_information?.worker_type_id;
            this.formData.cost_center_id = data.payroll_information?.cost_center_id;
            this.formData.pension_regime_id = data.payroll_information?.pension_regime_id;
            this.formData.cussp = data.payroll_information?.cussp;
            this.formData.commission = data.payroll_information?.commission;
            this.formData.contract_type_id = data.payroll_information?.contract_type_id;
            this.formData.labor_regime_id = data.payroll_information?.labor_regime_id;
            this.formData.payment_currency_id = data.payroll_information?.payment_currency_id;
            this.formData.is_contract = data.payroll_information?.is_contract;
            this.formData.contract_number = data.payroll_information?.contract_number;
            this.formData.contract_start_date = data.payroll_information?.contract_start_date;
            this.formData.contract_end_date = data.payroll_information?.contract_end_date;
            this.formData.airhsp_type_id = data.payroll_information?.airhsp_type_id;
            this.formData.airhsp_code = data.payroll_information?.airhsp_code;
            this.formData.have_suspension_4ta = data.payroll_information?.have_suspension_4ta;
            this.formData.have_health_insurance = data.payroll_information?.have_health_insurance;
            this.formData.health_regime_id = data.payroll_information?.health_regime_id;
            this.formData.nro_health_insurance = data.payroll_information?.nro_health_insurance;
            this.formData.payment_type_id = data.payroll_information?.payment_type_id;
            this.formData.financial_entity_id = data.payroll_information?.financial_entity_id;
            this.formData.account_number = data.payroll_information?.account_number;
            this.formData.inter_account_number = data.payroll_information?.inter_account_number;
            this.formData.days_worked = data.payroll_information?.days_worked;
            this.formData.days_subsidized = data.payroll_information?.days_subsidized;
            this.formData.days_absent = data.payroll_information?.days_absent;
            this.formData.tardiness_hours = data.payroll_information?.tardiness_hours;
            this.formData.tardiness_minutes = data.payroll_information?.tardiness_minutes;
            this.formData.total_days = data.payroll_information?.total_days;
            this.formData.work_day = data.payroll_information?.work_day;
            this.formData.occupational_group_id = data.payroll_information?.occupational_group_id;
            this.formData.public_employee_type_id = data.payroll_information?.public_employee_type_id;
            this.formData.nexus_code = data.payroll_information?.nexus_code;
            this.formData.airhsp_type_id = data.payroll_information?.airhsp_type_id;
            this.formData.nro_suspension = data.payroll_information?.nro_suspension;
            this.formData.date_suspension = data.payroll_information?.date_suspension;
            this.formData.means_suspension = data.payroll_information?.means_suspension;
            this.formData.basic_remuneration = data.payroll_information?.basic_remuneration;
            this.formData.basic_remuneration_start_at = data.payroll_information?.basic_remuneration_start_at;
            // this.changePensionRegime();

            this.preloader = false;
        },
        getPensionRegimes() {
            axiosGet(SELECTABLE_PENSION_REGIMES).then(response => {
                this.pension_regimes = response.data;
            }).finally(() => {
                this.preloader = false;
            });
        },
        checkMailSettings() {
            this.preloader = true;
            axiosGet(TENANT_MAIL_CHECK_URL).then(response => {
                this.isMailSettingExist = !!response.data;
            }).finally(() => {
                this.preloader = false;
            });
        },
        generateModalTitle(subject) {
            return this.$fieldTitle(this.selectedUrl ? 'edit' : 'invite', subject, true);
        },
        checkEmployeeID() {
            axiosGet(AUTO_EMPLOYEE_ID).then(response => {
                this.formData.employee_id = response.data;
            }).finally(() => {
                this.preloader = false;
            });
        },
        changePensionRegime() {
            // Obtenemos valor de this.formData.pension_regime_id
            const pensionRegimeId = this.formData.pension_regime_id;
            // Buscamos el elemento por id dentro de pension_regimes
            const selectedRegime = this.pension_regimes.find(regime => regime.id == pensionRegimeId);
            // Obtenemos elemento y guardamos en this.selectTypeRP
            this.selectedTypeRP = selectedRegime;
            // Si el elemento.type es SNP
            if (this.selectedTypeRP.type === 'SNP' || this.selectedTypeRP.type === 'SRP') {
                this.formData.cussp = '';
                this.formData.commission = '';
            }            
        },
        changeIsContract() {
            const isContract = this.formData.is_contract;
            if (isContract == false) {
                this.formData.contract_number = '';
                this.formData.contract_start_date = '';
                this.formData.contract_end_date = '';
            }
        },
        changeSuspension4ta() {
            const suspension4ta = this.formData.have_suspension_4ta;
            if (suspension4ta == false) {
                this.formData.date_suspension= '';
                this.formData.nro_suspension= '';
                this.formData.means_suspension= '';

            }
        },
        changeHealthInsurance() {
            const healthInsurance = this.formData.have_suspension_4ta;
            if (healthInsurance == false) {
                this.formData.health_regime_id= '';
                this.formData.nro_health_insurance= '';
            }
        },
        changePaymentType() {
            const paymentType = this.formData.payment_type_id;
            if (paymentType == 1 || paymentType == 3) {
                this.formData.financial_entity_id= '';
                this.formData.account_number= '';
                this.formData.inter_account_number= '';
            }
            console.log(paymentType);
        },
        onDepartamentoChange() {
            axiosGet(SELECTABLE_MPROVINCES+this.formData.addresses.state).then(response => {
                this.provincesData = response.data;
            }).finally(() => {
                this.preloader = false;
                // this.formData.addresses.city = '';
                // this.formData.addresses.area = '';
                // this.districtsData = [];
            });
        },
        onProvinciaChange() {
            axiosGet(SELECTABLE_MDISTRICTS+this.formData.addresses.city).then(response => {
                this.districtsData = response.data;
            }).finally(() => {
                this.preloader = false;
                // this.formData.addresses.area = '';
            });
        },
        updateTotalDays: function() {
            if (!isNaN(this.formData.days_worked) && !isNaN(this.formData.days_subsidized) && !isNaN(this.formData.days_absent)) {
                // Sumar days_worked y days_subsidized, y luego restar days_absent
                this.formData.total_days = parseInt(this.formData.days_worked) + parseInt(this.formData.days_subsidized) + parseInt(this.formData.days_absent);
            }
        },
        changeSalary() {
            const basicRemuneration = this.formData.basic_remuneration;
            if (basicRemuneration != '') {
                this.formData.salary= basicRemuneration;
                this.formData.basic_remuneration_start_at = moment().format('YYYY-MM-DD');
            }
        },
        
    },
    created() {
        this.checkMailSettings();
        this.getPensionRegimes();
        // this.changePensionRegime();
        
        if (!this.selectedUrl) {
            this.checkEmployeeID();
        }
    },
    computed: {
        countries() {
            return addChooseInSelectArray(countries, 'value', this.$t('country'))
        }
    },
    watch: {
        'formData.days_worked': 'updateTotalDays',
        'formData.days_subsidized': 'updateTotalDays',
        'formData.days_absent': 'updateTotalDays',
        'formData.first_name'(newValue) {
            this.formData.first_name = newValue.toUpperCase();
        },
        'formData.last_name'(newValue) {
            this.formData.last_name = newValue.toUpperCase();
        },
        'formData.middle_name'(newValue) {
            this.formData.middle_name = newValue.toUpperCase();
        },
        'formData.address.details'(newValue) {
            this.formData.address.details = newValue.toUpperCase();
        },
    }
}
</script>

