<template>
    <modal
        id="employee-list-modal"
        size="extra-large"
        v-model="showModal"
        :title="from === 'user' ? generateModalTitle('user') : generateModalTitle('trabajador')"
        @submit="submit"
        :loading="loading"
        :btn-label="selectedUrl ? $t('save') : $t('add')"
        :preloader="preloader">

        <form
            v-if="isMailSettingExist || selectedUrl"
            ref="form"
            :data-url='selectedUrl ? selectedUrl : EMPLOYEE_CREATE'
            @submit.prevent="submitData"
        >
            <div class="row">
                <legend class="col-12 col-form-label text-primary pb-0 mb-3" style="font-size: 16px;">
                    <app-icon name="user"/> Información Personal
                </legend>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <app-form-group
                        :label="$t('employee_id')"
                        :placeholder="$placeholder('employee_id')"
                        v-model="formData.employee_id"
                        :required="true"
                        :error-message="$errorMessage(errors, 'employee_id',true,true)"
                    />

                </div>
                <div class="col-md-2">
                    <app-form-group
                        :label="'Cod. Modular [' + (formData.modular_code ? formData.modular_code.length : 0) + ']'"
                        placeholder="Introduce número"
                        v-model="formData.modular_code"
                        :required="true"
                        :error-message="$errorMessage(errors, 'modular_code')"
                    />
                </div>
                <div class="col-md-2">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo doc. identidad *"
                        list-value-field="option"
                        v-model="formData.document_type_id"
                        :chooseLabel="'Selecciona tipo doc. identidad'"
                        :error-message="$errorMessage(errors, 'document_type_id')"
                        :fetch-url="SELECTABLE_DOCUMENT_TYPES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        :label="'Número doc. [' + (formData.document_number ? formData.document_number.length : 0) + '] *'"
                        placeholder="Introduce número"
                        v-model="formData.document_number"
                        :required="true"
                        :error-message="$errorMessage(errors, 'document_number')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        :label="'Número RUC [' + (formData.ruc_number ? formData.ruc_number.length : 0) + ']'"
                        placeholder="Introduce RUC"
                        v-model="formData.ruc_number"
                        :required="true"
                        :error-message="$errorMessage(errors, 'ruc_number')"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <app-form-group
                        :label="$t('first_name')"
                        :placeholder="$placeholder('first_name')"
                        v-model="formData.first_name"
                        :required="true"
                        :error-message="$errorMessage(errors, 'first_name')"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group
                        label="Apellido paterno"
                        placeholder="Introduce apellido paterno"
                        v-model="formData.last_name"
                        :required="true"
                        :error-message="$errorMessage(errors, 'last_name')"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group
                        label="Apellido materno"
                        placeholder="Introduce apellido materno"
                        v-model="formData.middle_name"
                        :required="true"
                        :error-message="$errorMessage(errors, 'middle_name')"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <app-form-group
                        key="gender-radio-group"
                        label="Sexo"
                        type="radio"
                        :list="[
                            {id:'male',value: $t('male')},
                            {id:'female', value:  $t('female')}
                        ]"
                        v-model="formData.gender"
                        :error-message="$errorMessage(errors, 'gender')"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group
                        label="Fecha nacimiento"
                        type="date"
                        v-model="formData.date_of_birth"
                        :placeholder="$placeholder('date_of_birth','')"
                        :error-message="$errorMessage(errors, 'date_of_birth')"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group-selectable
                        type="select"
                        label="Estado Civil"
                        list-value-field="name"
                        v-model="formData.marital_status_id"
                        :chooseLabel="'Elige estado civil'"
                        :error-message="$errorMessage(errors, 'marital_status_id')"
                        :fetch-url="SELECTABLE_MARITAL_STATUSES"
                    />
                </div>
            </div>
            <!-- DATOS DE CONTACTO -->
            <div class="row">
                <div class="col-md-2">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo de vía"
                        list-value-field="option"
                        v-model="formData.address.road_type"
                        :chooseLabel="'Selecciona tipo de vía'"
                        :required="true"
                        :error-message="$errorMessage(errors, 'road_type')"
                        :fetch-url="SELECTABLE_ROAD_TYPES"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group
                        label="Nombre de vía"
                        type="text"
                        placeholder="Nombre de vía"
                        v-model="formData.address.details"
                        :required="true"
                        :error-message="$errorMessage(errors, 'details')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Departamento"
                        list-value-field="option"
                        v-model="formData.address.state"
                        chooseLabel="Selecciona departamento"
                        :required="true"
                        :error-message="$errorMessage(errors, 'address.state')"
                        :fetch-url="SELECTABLE_MDEPARTMENTS"
                        @change="onDepartamentoChange()"
                    />
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Provincia">Provincia</label>
                        <select class="form-control" v-model="formData.address.city" @change="onProvinciaChange()" required>
                            <option value="">Selecciona provincia</option>
                            <option v-for="province in provincesData" :key="province.id" :value="province.id">
                                {{ province.option }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="Distrito">Distrito</label>
                        <select class="form-control" v-model="formData.address.area">
                            <option value="">Selecciona distrito</option>
                            <option v-for="district in districtsData" :key="district.id" :value="district.id">
                                {{ district.option }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="select"
                        :label="$t('country')"
                        :chooseLabel="$t('country')"
                        v-model="formData.address.country"
                        :list="countries"
                        form-group-class="mb-md-0"
                        :error-message="$errorMessage(errors, 'country')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Correo electrónico"
                        placeholder="Correo electrónico"
                        v-model="formData.email"
                        :required="true"
                        :error-message="$errorMessage(errors, 'email')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Nro celular"
                        type="tel-input"
                        v-model="formData.phone_number"
                        :placeholder="$placeholder('phone_number','')"
                        :error-message="$errorMessage(errors, 'phone_number')"
                    />
                </div>
            </div>
        
            <div class="row">
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        :label="$t('employment_status')"
                        list-value-field="name"
                        v-model="formData.employment_status_id"
                        :chooseLabel="$t('employment_status')"
                        :error-message="$errorMessage(errors, 'employment_status_id')"
                        :fetch-url="`${SELECTABLE_EMPLOYMENT_STATUS}?excluded=terminated`"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Categoría de Trabajador"
                        list-value-field="name"
                        v-model="formData.worker_category_id"
                        chooseLabel="Elige categoría de trabajador"
                        :error-message="$errorMessage(errors, 'worker_category_id')"
                        :fetch-url="SELECTABLE_WORKER_CATEGORIES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Nivel Educativo"
                        list-value-field="name"
                        v-model="formData.education_level_id"
                        chooseLabel="Elige nivel educativo"
                        :error-message="$errorMessage(errors, 'education_level_id')"
                        :fetch-url="SELECTABLE_EDUCATION_LEVELS"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Fecha de Ingreso"
                        type="date"
                        v-model="formData.entry_date"
                        placeholder="Fecha de Ingreso"
                        :error-message="$errorMessage(errors, 'entry_date')"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <app-form-group
                        label="Discapacidad"
                        type="radio-buttons"
                        :list="[
                            {id: true, value: 'Sí'},
                            {id: false, value: 'No'}
                        ]"
                        :required="true"
                        v-model="formData.disability"
                        :error-message="$errorMessage(errors, 'disability')"
                    />
                </div>
                <div class="col-md-2">
                    <app-form-group
                        label="Sindicalizado"
                        type="radio-buttons"
                        :list="[
                            {id: true, value: 'Sí'},
                            {id: false, value: 'No'}
                        ]"
                        :required="true"
                        v-model="formData.unionized"
                        :error-message="$errorMessage(errors, 'unionized')"
                    />
                </div>
                <div class="col-md-2">
                    <app-form-group
                        label="Residente"
                        type="radio-buttons"
                        :list="[
                            {id: true, value: 'Sí'},
                            {id: false, value: 'No'}
                        ]"
                        :required="true"
                        v-model="formData.resident"
                        :error-message="$errorMessage(errors, 'resident')"
                    />
                </div>
            </div>

            <div class="row">
                <legend class="col-12 col-form-label text-primary pb-0 mb-3" style="font-size: 16px;">
                    <app-icon name="user"/> Información de Laboral
                </legend>
            </div>
            
            <!-- //Tipo de plaza temporal -->
            <div class="row">
                <!-- agency_id Agencia-->
                <!-- Agregar codigo AIRSHp REQUERIDO CODIGO NEXUS OPCIONAL
                    Días laborados, días falta
                    Joranada laboraal  -> 48hrs //Campo libre
                    Contrato-> SI F Incio -  F Fin - Nro de contrato
                    -->
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Unidad Ejecutora"
                        list-value-field="name"
                        v-model="formData.agency_id"
                        chooseLabel="Elige una agencia"
                        :error-message="$errorMessage(errors, 'agency_id')"
                        :disabled="true"
                        :fetch-url="SELECTABLE_AGENCIES"
                    />
                </div>

                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo de plaza"
                        list-value-field="name"
                        v-model="formData.worker_type_id"
                        chooseLabel="Elige tipo de plaza"
                        :error-message="$errorMessage(errors, 'worker_type_id')"
                        :fetch-url="SELECTABLE_WORKER_TYPES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Régimen laboral"
                        list-value-field="option"
                        v-model="formData.labor_regime_id"
                        chooseLabel="Elige régimen laboral"
                        :error-message="$errorMessage(errors, 'labor_regime_id')"
                        :fetch-url="SELECTABLE_LABOR_REGIMES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Condición laboral"
                        list-value-field="name"
                        v-model="formData.contract_type_id"
                        chooseLabel="Elige condicion laboral"
                        :error-message="$errorMessage(errors, 'contract_type_id')"
                        :fetch-url="SELECTABLE_CONTRACT_TYPES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Grupo ocupacional"
                        list-value-field="option"
                        v-model="formData.occupational_group_id"
                        chooseLabel="Elige grupo ocupacional"
                        :error-message="$errorMessage(errors, 'occupational_group_id')"
                        :fetch-url="SELECTABLE_OCCUPATIONAL_GROUPS"
                    />
                </div>
                <!-- department_id -->
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Establecimiento / Área"
                        list-value-field="name"
                        v-model="formData.department_id"
                        chooseLabel="Elige un Establecimiento / Área"
                        :error-message="$errorMessage(errors, 'department_id')"
                        :fetch-url="SELECTABLE_DEPARTMENT"
                    />
                </div>
                <!-- designation_id -->
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Cargo UE"
                        list-value-field="name"
                        v-model="formData.designation_id"
                        chooseLabel="Elige un cargo"
                        :error-message="$errorMessage(errors, 'designation_id')"
                        :fetch-url="SELECTABLE_DESIGNATION"
                    />
                </div>
                <!-- public_employee_type_id -->
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo empleado público"
                        list-value-field="option"
                        v-model="formData.public_employee_type_id"
                        chooseLabel="Elige tipo empleado público"
                        :error-message="$errorMessage(errors, 'public_employee_type_id')"
                        :fetch-url="SELECTABLE_PUBLIC_EMPLOYEE_TYPES"
                    />
                </div>
                <!-- Jornada laboral -->
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Jornada laboral"
                        placeholder="Jornada laboral"
                        v-model="formData.work_day"
                        :required="false"
                        :error-message="$errorMessage(errors, 'work_day')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Código NEXUS"
                        v-model="formData.nexus_code"
                        placeholder="Introduce el Código NEXUS"
                        :error-message="$errorMessage(errors, 'nexus_code')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo registro AIRHSP"
                        list-value-field="option"
                        v-model="formData.airhsp_type_id"
                        chooseLabel="Elige tipo registro AIRHSP"
                        :error-message="$errorMessage(errors, 'airhsp_type_id')"
                        :fetch-url="SELECTABLE_AIRHSP_TYPES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Código registro AIRHSP"
                        v-model="formData.airhsp_code"
                        placeholder="Introduce el Código AIRHSP"
                        :error-message="$errorMessage(errors, 'airhsp_code')"
                    />
                </div>
                

                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Moneda de pago"
                        list-value-field="name"
                        v-model="formData.payment_currency_id"
                        chooseLabel="Elige moneda de pago"
                        :error-message="$errorMessage(errors, 'payment_currency_id')"
                        :fetch-url="SELECTABLE_PAYMENT_CURRENCIES"
                    />
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Centro de costo"
                        list-value-field="name"
                        v-model="formData.cost_center_id"
                        chooseLabel="Elige centro de costo"
                        :error-message="$errorMessage(errors, 'cost_center_id')"
                        :fetch-url="SELECTABLE_COST_CENTERS"
                    />
                </div>
            </div> -->

            <div class="row">
                <div class="col-md-6">
                    <app-form-group-selectable
                        type="select"
                        label="Régimen de pensión"
                        list-value-field="option"
                        v-model="formData.pension_regime_id"
                        chooseLabel="Elige régimen de pensión"
                        :error-message="$errorMessage(errors, 'pension_regime_id')"
                        :fetch-url="SELECTABLE_PENSION_REGIMES"
                        @change="changePensionRegime()"
                    />
                </div>
                <!-- cussp -->
                <div class="col-md-3">
                    <app-form-group
                        label="CUSSP"
                        v-model="formData.cussp"
                        placeholder="Introduce el CUSSP"
                        :disabled="selectedTypeRP.type=='SNP'"
                        :error-message="$errorMessage(errors, 'cussp')"
                    />
                </div>
                <!-- commission -->
                <div class="col-md-3">
                    <app-form-group
                        label="Tipo de comisión"
                        type="radio-buttons"
                        :disabled="selectedTypeRP.type=='SNP'"
                        :list="[
                            {id: 'flujo', value: 'Flujo'},
                            {id: 'mixta', value: 'Mixta'}
                        ]"
                        v-model="formData.commission"
                        :error-message="$errorMessage(errors, 'commission')"
                    />
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <app-form-group
                        label="Es contrato?"
                        type="radio-buttons"
                        :list="[
                            {id: true, value: 'Sí'},
                            {id: false, value: 'No'}
                        ]"
                        v-model="formData.is_contract"
                        :error-message="$errorMessage(errors, 'is_contract')"
                        @change="changeIsContract()"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Nro de contrato"
                        v-model="formData.contract_number"
                        placeholder="Introduce el nro de contrato"
                        :disabled="!formData.is_contract"
                        :error-message="$errorMessage(errors, 'contract_number')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="date"
                        label="Fecha de inicio"
                        placeholder="Introduce fecha de inicio"
                        v-model="formData.contract_start_date"
                        :disabled="!formData.is_contract"
                        :error-message="$errorMessage(errors, 'contract_start_date')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="date"
                        label="Fecha de fin"
                        placeholder="Introduce fecha de fin"
                        v-model="formData.contract_end_date"
                        :disabled="!formData.is_contract"
                        :error-message="$errorMessage(errors, 'contract_end_date')"
                    />
                </div>
            </div>

            <div class="row">
                <!-- 4th category rent suspension -->
                <div class="col-md-3">
                    <app-form-group
                        label="Susp. renta 4ta cat.?"
                        type="radio-buttons"
                        :list="[
                            {id: true, value: 'Sí'},
                            {id: false, value: 'No'}
                        ]"
                        v-model="formData.have_suspension_4ta"
                        :error-message="$errorMessage(errors, 'have_suspension_4ta')"
                        @change="changeSuspension4ta()"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="N° de solicitud de susp."
                        v-model="formData.nro_suspension"
                        placeholder="Introduce el nro solicitud de susp."
                        :disabled="!formData.have_suspension_4ta"
                        :error-message="$errorMessage(errors, 'nro_suspension')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="date"
                        label="Fecha de presentación"
                        placeholder="Introduce fecha de presentación"
                        v-model="formData.date_suspension"
                        :disabled="!formData.have_suspension_4ta"
                        :error-message="$errorMessage(errors, 'date_suspension')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Medio de presentación"
                        type="select"
                        :list="[
                            {id: 'Internet', value: 'Internet'},
                            {id: 'Sunat', value: 'SUNAT'}
                        ]"
                        v-model="formData.means_suspension"
                        :error-message="$errorMessage(errors, 'means_suspension')"
                    />
                </div>
                
            </div>

            <div class="row">
                <!-- job_rating_id, job_rating_date TODO -->
                <!-- 4th category rent suspension -->
                <div class="col-md-3">
                    <app-form-group
                        label="Afecto a seguro de salud?"
                        type="radio-buttons"
                        :list="[
                            {id: true, value: 'Sí'},
                            {id: false, value: 'No'}
                        ]"
                        v-model="formData.have_health_insurance"
                        :error-message="$errorMessage(errors, 'have_health_insurance')"
                        @change="changeHealthInsurance()"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Régimen de aseguramiento salud"
                        list-value-field="option"
                        v-model="formData.health_regime_id"
                        chooseLabel="Elige régimen de aseguramiento"
                        :disabled="!formData.have_health_insurance"
                        :error-message="$errorMessage(errors, 'health_regime_id')"
                        :fetch-url="SELECTABLE_PUBLIC_HEALTH_REGIME"
                    />
                </div>
                <!-- health insurance number -->
                <div class="col-md-3">
                    <app-form-group
                        label="N° seguro salud"
                        v-model="formData.nro_health_insurance"
                        placeholder="Introduce el nro seguro salud"
                        :disabled="!formData.have_health_insurance"
                        :error-message="$errorMessage(errors, 'nro_health_insurance')"
                    />
                </div>
                
            </div>

            <div class="row">
                <legend class="col-12 col-form-label text-primary pb-0 mb-3" style="font-size: 16px;">
                    <app-icon name="user"/> Información de Remuneraciones
                </legend>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <app-form-group
                        type="select"
                        label="Tipo de pago"
                        list-value-field="name"
                        v-model="formData.payment_type_id"
                        chooseLabel="Elige tipo de pago"
                        :error-message="$errorMessage(errors, 'payment_type_id')"
                        :list="[
                            {id:1, name:'EFECTIVO'},
                            {id:2, name:'DEPÓSITO EN CUENTA'},
                            {id:3, name:'OTROS'},
                        ]"
                        @change="changePaymentType()"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="search-select"
                        label="Entidad financiera"
                        list-value-field="option"
                        v-model="formData.financial_entity_id"
                        chooseLabel="Elige Entidad financiera"
                        :error-message="$errorMessage(errors, 'financial_entity_id')"
                        :disabled="formData.payment_type_id==1?true:false"
                        :fetch-url="SELECTABLE_FINANCIAL_ENTITIES"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="N° de cuenta"
                        v-model="formData.account_number"
                        placeholder="Introduce N° de cuenta"
                        :disabled="formData.payment_type_id==1?true:false"
                        :error-message="$errorMessage(errors, 'account_number')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="N° de cuenta interbancaria"
                        v-model="formData.inter_account_number"
                        placeholder="Introduce N° de cuenta interbancaria"
                        :disabled="formData.payment_type_id==1?true:false"
                        :error-message="$errorMessage(errors, 'inter_account_number')"
                    />
                </div>
            </div>

            <div class="row">
                <!-- basic_remuneration -->
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Remuneración básica inicial"
                        :placeholder="$placeholder('salary')"
                        v-model="formData.basic_remuneration"
                        :required="true"
                        :error-message="$errorMessage(errors, 'basic_remuneration')"
                        class="font-weight-bold"
                        @change="changeSalary()"
                    />
                </div>
                
                <div class="col-md-3 d-none">
                    <app-form-group
                        v-if="!selectedUrl"
                        type="number"
                        label="Remuneración básica inicial"
                        :placeholder="$placeholder('salary')"
                        v-model="formData.salary"
                        :required="true"
                        :error-message="$errorMessage(errors, 'salary')"
                        class="font-weight-bold"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Días trabajados"
                        placeholder="Días trabajados"
                        v-model="formData.days_worked"
                        :required="false"
                        :error-message="$errorMessage(errors, 'days_worked')"
                    />
                </div>

                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Días subsidiados"
                        placeholder="Días subsidiados"
                        v-model="formData.days_subsidized"
                        :required="false"
                        :error-message="$errorMessage(errors, 'days_subsidized')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Días de faltas"
                        placeholder="Días de faltas"
                        v-model="formData.days_absent"
                        :required="false"
                        :error-message="$errorMessage(errors, 'days_absent')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Tardanza en horas"
                        placeholder="Tardanza en horas"
                        v-model="formData.tardiness_hours"
                        :required="false"
                        :error-message="$errorMessage(errors, 'tardiness_hours')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Tardanza en minutos"
                        placeholder="Tardanza en minutos"
                        v-model="formData.tardiness_minutes"
                        :required="false"
                        :error-message="$errorMessage(errors, 'tardiness_minutes')"
                        :readonly="true"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Total de días"
                        placeholder="Total de días"
                        v-model="formData.total_days"
                        :required="false"
                        :readOnly="true"
                        :error-message="$errorMessage(errors, 'total_days')"
                    />
                </div>
                
                <!-- <div class="col-md-3 d-none">
                    <app-form-group
                        v-if="!selectedUrl"
                        type="number"
                        label="Hrs trab. diaria"
                        :placeholder="$placeholder('salary')"
                        v-model="formData.salary_hour_value"
                        :required="false"
                        :error-message="$errorMessage(errors, 'salary_hour_value')"
                    />
                </div> -->
            </div>
            
            <app-form-group-selectable
                type="multi-select"
                v-if="$can('attach_users_to_roles')"
                label="Rol en el aplicativo"
                list-value-field="name"
                v-model="formData.roles"
                :chooseLabel="$t('role')"
                :error-message="$errorMessage(errors, 'roles')"
                :fetch-url="SELECTABLE_ROLE"
            />
            
            <app-form-group
                v-if="from === 'user'"
                class="mb-primary"
                type="single-checkbox"
                label=""
                :list-value-field="$t('do_not_show_in_employee_list')"
                v-model="formData.dont_show_in_employee"
            />
        </form>
        <app-note v-else
                  :title="$t('no_delivery_settings_found')"
                  :notes="$optional(currentTenant, 'is_single') ?
                  `<ol>
                     <li>${$t('cron_job_settings_warning',{
                      documentation: `<a href='https://payday.gainhq.com/documentation/important-settings.html#scheduler-queue' target='_blank'>${$t('documentation')}</a>`
                  })}</li>
                     <li>${$t('no_delivery_settings_warning', {
                      location: `<a href='${urlGenerator(TENANT_EMAIL_SETUP_SETTING)}'>${$t('here')}</a>`
                  })}</li>
                  </ol>`: [$t('no_delivery_settings_warning_none')]"
                  content-type="html"
        />
        <template v-if="!isMailSettingExist && !selectedUrl" slot="footer">
            <button type="button"
                    class="btn btn-secondary"
                    data-dismiss="modal">
                {{ $t('close') }}
            </button>
        </template>
    </modal>
</template>

<script>
import moment from "moment";
import FormHelperMixins from "../../../../common/Mixin/Global/FormHelperMixins";
import ModalMixin from "../../../../common/Mixin/Global/ModalMixin";
import countries from "./Helper/countries";
import {addChooseInSelectArray} from "../../../../common/Helper/Support/FormHelper";

import {
    EMPLOYEES_LIST,
    SELECTABLE_DEPARTMENT,
    SELECTABLE_ROLE,
    SELECTABLE_DESIGNATION,
    SELECTABLE_EMPLOYMENT_STATUS,
    EMPLOYEE_CREATE, AUTO_EMPLOYEE_ID,
    SELECTABLE_DOCUMENT_TYPES,
    SELECTABLE_MARITAL_STATUSES,
    SELECTABLE_WORKER_TYPES,

    SELECTABLE_PERSONAL_SITUATIONS,
    SELECTABLE_WORKER_CATEGORIES,
    SELECTABLE_EDUCATION_LEVELS,
    SELECTABLE_AGENCIES,
    SELECTABLE_COST_CENTERS,
    SELECTABLE_PENSION_REGIMES,
    SELECTABLE_CONTRACT_TYPES,
    SELECTABLE_LABOR_REGIMES,
    SELECTABLE_PAYMENT_FREQUENCIES,
    SELECTABLE_PAYMENT_CURRENCIES,
    SELECTABLE_AIRHSP_TYPES,
    SELECTABLE_ROAD_TYPES,
    SELECTABLE_MDEPARTMENTS,
    SELECTABLE_MPROVINCES,
    SELECTABLE_MDISTRICTS,
    SELECTABLE_OCCUPATIONAL_GROUPS,
    SELECTABLE_PUBLIC_EMPLOYEE_TYPES,
    SELECTABLE_PUBLIC_HEALTH_REGIME,
    SELECTABLE_FINANCIAL_ENTITIES,
} from "../../../Config/ApiUrl";
import {
    TENANT_MAIL_CHECK_URL,
    TENANT_EMAIL_SETUP_SETTING
} from "../../../../common/Config/apiUrl";
import {axiosGet} from "../../../../common/Helper/AxiosHelper";
import {formatDateForServer} from "../../../../common/Helper/Support/DateTimeHelper";

export default {
    name: "EmployeeCreateEditModel",
    mixins: [FormHelperMixins, ModalMixin],
    props: {
        from: {
            type: String,
            default: 'employee'
        }
    },
    data() {
        return {
            isMailSettingExist: true,
            //Para ubigeo
            selectedDepartamento: null,
            selectedProvincia: null,
            selectedDistrito: null,
            //
            districtsData:[],
            provincesData:[],

            formData: {
                employee_id: '',
                department: {},
                roles: [4],
                designation: {},
                employment_status: {},
                is_in_employee: false,
                employment_status_id: 2, //Default VIGENTE
                document_type_id: 1,
                document_number: '',
                ruc_number: '',
                first_name: '',
                last_name: '',
                middle_name: '',
                gender: '',
                marital_status_id: '',
                date_of_birth: '',
                email: '',
                phone_number: '',
                worker_category_id: 1, //Default TRABAJADOR
                education_level_id: '',
                entry_date: moment().format('YYYY-MM-DD'), //Default today
                disability: false,
                unionized: false,
                resident: true,
                //Payroll setting
                modular_code:'',
                agency_id: 1, // Default PPPAL
                department_id: '',
                designation_id: '',
                worker_type_id: 2, //Tipo de plaza CONTRATADO
                cost_center_id: '', //TODO
                pension_regime_id: '',
                cussp: '',
                commission: '',
                contract_type_id: '1',
                labor_regime_id: '1', //CAS
                payment_currency_id: '1', //Moneda nacional
                // cost_center_id:'',
                is_contract: false,
                contract_number:'',
                contract_start_date: '',
                contract_end_date: '',
                airhsp_type_id: 4, //CAS
                have_suspension_4ta:false,
                have_health_insurance:true,
                health_regime_id:1,
                nro_health_insurance:'',
                payment_type_id:2,
                financial_entity_id:'',
                account_number:'',
                inter_account_number:'',
                work_day:'',
                occupational_group_id:'',
                public_employee_type_id:'',
                nexus_code:'',
                nro_suspension:'',
                date_suspension:'',
                means_suspension:'',
                days_worked: moment().daysInMonth(), // Inicializar con la cantidad de días del mes actual
                days_subsidized: 0,
                days_absent: 0,
                total_days: moment().daysInMonth(), // Inicializar total_days con la cantidad de días del mes actual
                basic_remuneration: 0,
                basic_remuneration_start_at: '', //Default today
                //Dirección
                address: {
                    road_type: '',
                    details:'',
                    state:'21',
                    city:'',
                    area:'',
                    zip_code:'',
                    country:'Peru',
                    phone_number: '',
                    type: 'present_address',
                },

                allowances: [],
                allowanceValues: [],
                allowancePercentages: [],
                deductions: [],
                deductionValues: [],
                deductionPercentages: [],
                contributions: [],
                contributionValues: [],
                contributionPercentages: [],

            },
            EMPLOYEES_LIST,
            SELECTABLE_DEPARTMENT,
            SELECTABLE_ROLE,
            SELECTABLE_DESIGNATION,
            SELECTABLE_EMPLOYMENT_STATUS,
            EMPLOYEE_CREATE,
            TENANT_EMAIL_SETUP_SETTING,
            SELECTABLE_DOCUMENT_TYPES,
            SELECTABLE_MARITAL_STATUSES,
            SELECTABLE_WORKER_TYPES,

            SELECTABLE_PERSONAL_SITUATIONS,
            SELECTABLE_WORKER_CATEGORIES,
            SELECTABLE_EDUCATION_LEVELS,

            SELECTABLE_AGENCIES,
            SELECTABLE_COST_CENTERS,
            SELECTABLE_PENSION_REGIMES,
            SELECTABLE_CONTRACT_TYPES,
            SELECTABLE_LABOR_REGIMES,
            SELECTABLE_PAYMENT_FREQUENCIES,
            SELECTABLE_PAYMENT_CURRENCIES,
            SELECTABLE_AIRHSP_TYPES,
            SELECTABLE_ROAD_TYPES,

            SELECTABLE_MDEPARTMENTS,
            SELECTABLE_MPROVINCES,
            SELECTABLE_MDISTRICTS,
            SELECTABLE_OCCUPATIONAL_GROUPS,
            SELECTABLE_PUBLIC_EMPLOYEE_TYPES,
            SELECTABLE_PUBLIC_HEALTH_REGIME,
            SELECTABLE_FINANCIAL_ENTITIES,

            pension_regimes: [],
            selectedTypeRP: {id: '', name: '', type: ''},
            
        }
    },
    methods: {
        submit() {
            this.fieldStatus.isSubmit = true;
            this.loading = true;
            this.message = '';
            this.errors = {};
            this.formData.is_in_employee = this.formData.dont_show_in_employee ? 0 : 1;
            this.formData.joining_date = formatDateForServer(this.formData.joining_date);
            this.submitData(this.formData);
        },
        afterSuccess({data}) {
            this.formData = {};
            $('#employee-list-modal').modal('hide');
            this.$emit('input', false);
            this.toastAndReload(data.message, this.from === 'employee' ? 'employee-table' : 'user-table');
            if (this.from === 'user') {
                this.$hub.$emit(`reload-role-table`)
            }
        },
        afterSuccessFromGetEditData({data}) {
            this.preloader = false;
            //Before customization this was "  this.formData = data;"
            this.formData = {...this.formData, ...data};
            this.formData.employee_id = data.profile?.employee_id;
            this.formData.roles = this.collection(data.roles).pluck();
            this.formData.designation_id = data.designation?.id;
            this.formData.department_id = data.department?.id;
            this.formData.employment_status_id = data.employment_status?.id;
            this.formData.dont_show_in_employee = parseInt(this.formData.is_in_employee) ? 0 : 1;
            this.formData.joining_date = data.profile?.joining_date ? new Date(data.profile?.joining_date) : null;
            this.formData.gender = data.profile?.gender;
        },
        checkMailSettings() {
            this.preloader = true;
            axiosGet(TENANT_MAIL_CHECK_URL).then(response => {
                this.isMailSettingExist = !!response.data;
            }).finally(() => {
                this.preloader = false;
            });
        },
        getPensionRegimes() {
            axiosGet(SELECTABLE_PENSION_REGIMES).then(response => {
                this.pension_regimes = response.data;
            }).finally(() => {
                this.preloader = false;
            });
        },
        generateModalTitle(subject) {
            return this.$fieldTitle(this.selectedUrl ? 'edit' : 'add', subject, true);
        },
        checkEmployeeID() {
            axiosGet(AUTO_EMPLOYEE_ID).then(response => {
                this.formData.employee_id = response.data;
            }).finally(() => {
                this.preloader = false;
            });
        },
        changePensionRegime() {
            // Obtenemos valor de this.formData.pension_regime_id
            const pensionRegimeId = this.formData.pension_regime_id;
            // Buscamos el elemento por id dentro de pension_regimes
            const selectedRegime = this.pension_regimes.find(regime => regime.id == pensionRegimeId);
            // Obtenemos elemento y guardamos en this.selectTypeRP
            this.selectedTypeRP = selectedRegime;
            // Si el elemento.type es SNP
            if (this.selectedTypeRP.type === 'SNP' || this.selectedTypeRP.type === 'SRP') {
                this.formData.cussp = '';
                this.formData.commission = '';
            }
        },
        changeIsContract() {
            const isContract = this.formData.is_contract;
            if (isContract == false) {
                this.formData.contract_number = '';
                this.formData.contract_start_date = '';
                this.formData.contract_end_date = '';
            }
        },
        changeSuspension4ta() {
            const suspension4ta = this.formData.have_suspension_4ta;
            if (suspension4ta == false) {
                this.formData.date_suspension= '';
                this.formData.nro_suspension= '';
                this.formData.means_suspension= '';

            }
        },
        changeHealthInsurance() {
            const healthInsurance = this.formData.have_suspension_4ta;
            if (healthInsurance == false) {
                this.formData.health_regime_id= '';
                this.formData.nro_health_insurance= '';
            }
        },
        changePaymentType() {
            const paymentType = this.formData.payment_type_id;
            if (paymentType == 1 || paymentType == 3) {
                this.formData.financial_entity_id= '';
                this.formData.account_number= '';
                this.formData.inter_account_number= '';
            }
            console.log(paymentType);
        },
        changeSalary() {
            const basicRemuneration = this.formData.basic_remuneration;
            if (basicRemuneration != '') {
                this.formData.salary= basicRemuneration;
                this.formData.basic_remuneration_start_at = moment().format('YYYY-MM-DD');
            }
        },
        onDepartamentoChange() {
            axiosGet(SELECTABLE_MPROVINCES+this.formData.address.state).then(response => {
                this.provincesData = response.data;
            }).finally(() => {
                this.preloader = false;
                this.formData.address.city = '';
                this.formData.address.area = '';
                this.districtsData = [];
            });
        },
        onProvinciaChange() {
            axiosGet(SELECTABLE_MDISTRICTS+this.formData.address.city).then(response => {
                this.districtsData = response.data;
            }).finally(() => {
                this.preloader = false;
                this.formData.address.area = '';
            });
        },
        updateTotalDays: function() {
            if (!isNaN(this.formData.days_worked) && !isNaN(this.formData.days_subsidized) && !isNaN(this.formData.days_absent)) {
                // Sumar days_worked y days_subsidized, y luego restar days_absent
                this.formData.total_days = parseInt(this.formData.days_worked) + parseInt(this.formData.days_subsidized) + parseInt(this.formData.days_absent);
            }
        },

    },
    created() {
        this.checkMailSettings();
        this.getPensionRegimes();
        this.onDepartamentoChange();
        if (!this.selectedUrl) {
            this.checkEmployeeID();
        }
    },
    computed: {
        countries() {
            return addChooseInSelectArray(countries, 'value', this.$t('country'))
        }
    },
    watch: {
        'formData.days_worked': 'updateTotalDays',
        'formData.days_subsidized': 'updateTotalDays',
        'formData.days_absent': 'updateTotalDays',
        'formData.first_name'(newValue) {
            this.formData.first_name = newValue.toUpperCase();
        },
        'formData.last_name'(newValue) {
            this.formData.last_name = newValue.toUpperCase();
        },
        'formData.middle_name'(newValue) {
            this.formData.middle_name = newValue.toUpperCase();
        },
        'formData.address.details'(newValue) {
            this.formData.address.details = newValue.toUpperCase();
        },
    }
}
</script>

<style lang="scss">

</style>