<template>
    <div>
        <modal id="default-payrun-modal-masive"
               v-model="showModal"
               :title="`Importar Planilla`"
               @submit="submitData"
               :loading="loading">
            <app-overlay-loader v-if="preloader"/>
            <div v-if="!preloader && !errorStatus">
                <div>
                    <!-- <span class="d-block text-warning">{{ $t('all_good_just_have_quick_read') }}</span> -->
                    <span class="d-block">Para facilitar la carga de datos de planillas de pago, te ofrecemos una plantilla Excel para su descarga:</span>
                    <ul class="list">
                        <li>Haz clic en <a class="text-primary cursor-pointer" href="/public/PLANTILLA-MASIVA-PLANILLAS.xlsx" target="_blank">"Descargar Plantilla"</a> a continuación.</li>
                        <li>Abre el archivo descargado en Microsoft Excel u otra aplicación compatible.</li>
                        <li>Completa los campos requeridos con la información de tus planillas de pago.</li>
                        <li>Importante: Por favor, no modifique el formato de las tablas en la plantilla. Mantener el formato predefinido asegurará una correcta carga de datos.</li>
                    </ul>
                </div>

                <div class="row mt-3">
                    <div class="col-md-6">
                        <app-form-group-selectable
                            type="select"
                            label="Tipo de planilla"
                            chooseLabel="Elige Tipo de planilla"
                            list-value-field="option"
                            v-model="formData.payroll_type_id"
                            :error-message="$errorMessage(errors, 'payroll_type_id')"
                            :fetch-url="SELECTABLE_PAYROLL_TYPES"
                        />
                    </div>
                    <div class="col-md-6">
                        <app-form-group-selectable
                            type="select"
                            label="Clase de planilla"
                            chooseLabel="Elige Clase de planilla"
                            list-value-field="option"
                            v-model="formData.payroll_class_id"
                            :error-message="$errorMessage(errors, 'payroll_class_id')"
                            :fetch-url="SELECTABLE_PAYROLL_CLASSES"
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <app-form-group
                            type="select"
                            :label="$t('payrun_period')"
                            v-model="formData.payrun_period"
                            :error-message="$errorMessage(errors, 'payrun_period')"
                            :list="[
                            {id:'', value:this.$fieldLabel('choose', 'payrun_period'), disabled: true},
                            {id:'monthly', value:this.$t('monthly')},
                        ]"
                        />
                        <!-- {id:'customized', value:this.$t('customized')} -->
                    </div>
                    <template v-if="formData.payrun_period === 'customized'">
                    <div class="col-md-4">
                        <app-form-group
                            :label="$t('start_date')"
                            type="date"
                            v-model="formData.start_date"
                            :placeholder="$placeholder('start_date', '')"
                            :required="true"
                            :error-message="$errorMessage(errors, 'start_date')"
                        />
                    </div>
                    <div class="col-md-4">
                        <app-form-group
                            :label="$t('end_date')"
                            type="date"
                            v-model="formData.end_date"
                            :min-date="formData.start_date"
                            :placeholder="$placeholder('end_date', '')"
                            :required="true"
                            :error-message="$errorMessage(errors, 'end_date')"
                        />
                    </div>
                    <!--  :max-date="lastOfTheMonth(formData.start_date)"-->
                    </template>

                    <template v-if="formData.payrun_period === 'monthly'">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">
                                Mes * 
                            </label>
                            <app-input
                                type="select"
                                v-model="formData.executable_month"
                                :list="months"
                                :error-message="$errorMessage(errors, 'executable_month')"
                            />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">
                                Año * 
                            </label>
                            <app-input
                                type="select"
                                v-model="formData.executable_year"
                                :list="yearsList"
                                :error-message="$errorMessage(errors, 'executable_year')"
                            />
                        </div>
                    </div>
                    </template>

                </div>

                <div class="row">
                    <div class="col-12 mt-3">
                        <input class="form-control" type="file" ref="fileInput" @change="handleFileUpload">
                        <!-- <button @click="uploadFile">Subir archivo</button> -->
                    </div>

                </div>

                <!-- <div class="mt-3">
                    <app-form-group
                        type="textarea"
                        :text-area-rows="2"
                        v-model="formData.note"
                        :label="`${$t('payslip_note')} (${$t('optional')})`"
                        :placeholder="$t('add_payslip_note_here')"
                    />
                </div> -->

            </div>

            <app-note v-if="errorStatus"
                      :title="$t('no_payrun_settings_found')"
                      :notes="[$t('no_payrun_settings_warning', {
                      location: `<a href='${urlGenerator(apiUrl.PAYROLL_SETTINGS_FRONTEND)}'>${$t('here')}</a>`
                  })]"
                      content-type="html"
            />

            <template slot="footer">
                <button type="button"
                        class="btn btn-secondary  mr-2"
                        data-dismiss="modal">
                    {{ $t('cancel') }}
                </button>
                <app-submit-button
                    v-if="!errorStatus"
                    btn-class="btn btn-primary"
                    @click="uploadFile"
                    :label="$t('run')"
                    :loading="runButtonLoader"
                />
            </template>

        </modal>
    </div>
</template>

<script>
import ModalMixin from "../../../../../common/Mixin/Global/ModalMixin";
import FormHelperMixins from "../../../../../common/Mixin/Global/FormHelperMixins";
import DefaultPayrunModalMedia from "./DefaultPayrunModalMedia";
import {axiosGet, axiosPost} from "../../../../../common/Helper/AxiosHelper";
import moment from "moment";
import {DEFAULT_PAYRUN,
        SELECTABLE_PAYROLL_TYPES,
        SELECTABLE_PAYROLL_CLASSES,
} from "../../../../Config/ApiUrl";

export default {
    name: "DefaultPayrunCreateModal",
    mixins: [ModalMixin, FormHelperMixins],
    components: {DefaultPayrunModalMedia},
    data(){
        return {
            file:'',
            formData:{
                users:[],
                consider_type: 'none',
                consider_overtime:true,
                note:null,
                days_worked:0,
                agency_id:1,
            },
            runButtonLoader: false,
            payruns: {},
            errorStatus: false,
            SELECTABLE_PAYROLL_TYPES,
            SELECTABLE_PAYROLL_CLASSES,
        }
    },
    methods: {
        handleFileUpload() {
        this.file = this.$refs.fileInput.files[0];
        },
        uploadFile() {
            const formData = new FormData();
            formData.append('file', this.file);

            // Agregar valores de formData al formData
            for (const key in this.formData) {
                if (this.formData.hasOwnProperty(key)) {
                    formData.append(key, this.formData[key]);
                }
            }

            axiosPost(`${this.apiUrl.PAYSLIP_MASIVE_STORE}`, formData, {
                headers: {
                    'Content-Type': 'multipart/form-data'
                }
            }).then(({data}) => {
                $('#default-payrun-modal-masive').modal('hide');
                this.showModal = false;
                this.$emit('reload');
                this.$toastr.s(data.message);
            }).catch((error) => {
                this.errors = error.response.data.errors;
                this.$toastr.e(error.response.data.message);
            }).finally(() => {
                this.preloader = false;
                // this.$hub.$emit('open-payrun-table');
            })
        },
        runPayrun(){
            this.runButtonLoader = true;
            axiosPost(
                `${this.apiUrl.DEFAULT_PAYRUN}`, this.formData
            ).then(({data}) => {
                this.formData = {};
                this.runButtonLoader = false;
                this.$toastr.s('', data.message);
                $('#default-payrun-modal-masive').modal('hide');
                this.showModal = false;
                this.$emit('reload');
            }).catch(({response}) => {
                this.runButtonLoader = false;
                this.$toastr.e('', response.data.message);
            })
        },
        getDefaultPayrun(){
            axiosGet(`${this.apiUrl.DEFAULT_PAYRUN}`).then(({data}) => {
                this.payruns = data
                this.preloader = false;
            }).catch(({response}) => {
                this.errorStatus = true
                this.$toastr.e('', response.data.message);
            });
        },
        openManualPayrunModal(){
            this.$emit('openManualPayrun')
            $('#default-payrun-modal-masive').modal('hide');
            this.showModal = false;
        }
    },
    computed: {
        haveEmployeesFollowedByEmployee(){
            return !!this.payruns?.employee?.count_employee;
        },
        haveEmployeesFollowedBySettings(){
            return !!this.payruns?.default?.count_employee;
        },
        months() {
            return Array.apply(null, Array(12)).map((_, i) => {
                return {
                    // Establece el idioma en inglés y luego obtiene la abreviatura del mes
                    id: moment().locale('en').month(i).format('MMM'),
                    // Establece el idioma en el idioma de la aplicación y luego obtiene el nombre completo del mes
                    value: moment().locale(window.appLanguage).month(i).format('MMMM')
                };
            });
        },
        yearsList() {
            let year = new Date().getFullYear()
            let i = 0, arr = []

            while (i < 50){
                arr.push({
                    id: year,
                    value: year
                })
                i++;
                year--
            }
            return arr
        },
    },
    mounted() {
        this.getDefaultPayrun();
    }
}
</script>

<style scoped>

</style>