<template>
    <modal id="payslip-edit-modal"
           size="large"
           v-model="showModal"
           title="Generar constancia"
           @submit="submit"
           :preloader="preloader">

        <div class="row">
            <div class="col-md-8">
                <app-form-group
                    type="text"
                    label="Título de constancia *"
                    placeholder="Título de constancia *"
                    v-model="formData.name"
                    :required="true"
                    :error-message="$errorMessage(errors, 'name')"
                />
            </div>
            <div class="col-md-4">
                <app-form-group
                    label="Fecha de emisión"
                    type="date"
                    v-model="formData.issue_date"
                    placeholder="Fecha de emisión"
                    :error-message="$errorMessage(errors, 'issue_date')"
                />
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="">
                        Usuario * 
                    </label>
                    <app-form-group-selectable
                        :key="fetchUserKey"
                        page="only-input"
                        type="search-select"
                        label="Nombres y Apellidos"
                        list-value-field="value"
                        v-model="formData.user_id"
                        chooseLabel="Selecciona Usuario"
                        :error-message="$errorMessage(errors, 'user_id')"
                        :fetch-url="`${TENANT_SELECTABLE_PAYSLIP_USERS}?with=profile-information`"
                    />
                </div>
            </div>
            <div class="col-md-6">
                <app-form-group
                    label="Fecha de inicio"
                    type="date"
                    v-model="formData.start_date"
                    placeholder="Fecha de inicio"
                    :error-message="$errorMessage(errors, 'start_date')"
                />
            </div>
            <div class="col-md-6">
                <app-form-group
                    label="Fecha de fin"
                    type="date"
                    v-model="formData.end_date"
                    placeholder="Fecha de fin"
                    :error-message="$errorMessage(errors, 'end_date')"
                />
            </div>
            <div class="col-md-12">
                <app-form-group
                    type="multi-select"
                    label="Ingresos"
                    list-value-field="name"
                    v-model="formData.allowances"
                    :list="allowances"
                />
            </div>
            <div class="col-md-12">
                <app-form-group
                    type="multi-select"
                    label="Descuentos"
                    list-value-field="name"
                    v-model="formData.deductions"
                    :list="deductions"
                />
            </div>
            <div class="col-md-12">
                <app-form-group
                    type="text"
                    label="Nro de expediente de ref. *"
                    placeholder="Nro de expediente de ref. *"
                    v-model="formData.ref_exp_number"
                    :required="true"
                    :error-message="$errorMessage(errors, 'ref_exp_number')"
                />
            </div>
            <!-- 'generate_user_id',
            'description',
            'allowances',
            'deductions',
            'legend',
            'agency_id',
            'designation_id',
            'niv',
            'mag',
            ref_exp_number -->
        </div>
    </modal>
</template>

<script>
import {
    customDateFormat,
    getDateDifferenceString
} from "../../../../../common/Helper/Support/DateTimeHelper";
import {mapState} from "vuex";
import {axiosGet, axiosPatch, urlGenerator, axiosPost} from "../../../../../common/Helper/AxiosHelper";
import ModalMixin from "../../../../../common/Mixin/Global/ModalMixin";
import {FormMixin} from "../../../../../core/mixins/form/FormMixin";
import {formatCurrency, numberFormatter} from "../../../../../common/Helper/Support/SettingsHelper";
import {formatDateForServer} from "../../../../../common/Helper/Support/DateTimeHelper";

import moment from "moment";
import {
    SELECTABLE_BENEFICIARY_BADGE,
    SELECTABLE_DOCUMENT_TYPES,
    SELECTABLE_FINANCIAL_ENTITIES,
    TENANT_SELECTABLE_PAYSLIP_USERS,
    SELECTABLE_PAYROLL_TYPES,
    SELECTABLE_PAYROLL_CLASSES,
    SELECTABLE_FINANCE_SOURCES,
    SELECTABLE_AGENCIES,
    SELECTABLE_DESIGNATION,
    EMPLOYEES,
} from "../../../../Config/ApiUrl";

export default {
    name: "PayslipEditModal",
    mixins: [ModalMixin, FormMixin],
    props: {
        payslip: {},
        settings: {}
    },
    data() {
        return {
            formatCurrency,
            customDateFormat,
            getDateDifferenceString,
            numberFormatter,
            beneficiaries: [],
            prevAllowances: [],
            prevAllowancePercentages: [],
            prevDeductions: [],
            prevDeductionPercentages: [],

            fetchUserKey: 0,
            formData: {
                generate_user_id: '',
                user_id: '',
                name: 'CONSTANCIA DE ',
                description: '',
                token: '',
                filename: '',
                certificate_type: 'individual',
                issue_date: moment().format('YYYY-MM-DD'),
                start_date: '',
                end_date: '',
                allowances: [],
                deductions: [],
                legend: '',
                agency_id: '',
                designation_id: '',
                niv: '',
                mag: '',
                ref_exp_number: '',
            },
            errors: {},
            earnedSalary: 0,
            TENANT_SELECTABLE_PAYSLIP_USERS,
        }
    },
    created() {
        this.getBeneficiaries();
    },
    methods: {
        getBeneficiaries() {
            this.preloader = true;
            axiosGet(this.apiUrl.SELECTABLE_BENEFICIARY_BADGE).then(({data}) => {
                this.beneficiaries = data
            }).finally(() => {
                this.preloader = false;
            })
        },
        submit() {
            this.preloader = true;
            const formData = {...this.formData};
            formData.issue_date = formatDateForServer(this.formData.issue_date);
            
            axiosPost(`${this.apiUrl.PAYROLL_CERTIFICATE_GENERATE}`, formData).then(({data}) => {
                this.$emit('updated')
                this.$toastr.s(data.message);

                if(data.status){
                    this.$hub.$emit('open-payrun-table');
                }
            }).catch((error) => {
                this.errors = error.response.data.errors;
                this.$toastr.e(error.response.data.message);
            }).finally(() => {
                this.preloader = false;
            })
        },
        
    },
    computed: {
        ...mapState({
            generalSettings: state => state.settings
        }),
        payrunData() {
            // return JSON.parse(this.payslip.payrun.data);
        },
        allowances() {
            return this.beneficiaries.filter(benefit => benefit.type === 'allowance');
        },
        selectedAllowances() {
            let allowances = this.allowances.filter(benefit => this.formData.allowances.includes(benefit.id));
            let result = [];
            this.formData.allowances.forEach(item => {
                result.push(allowances.find(d => d.id === item))
            })
            return result;
        },
        deductions() {
            return this.beneficiaries.filter(benefit => benefit.type === 'deduction');
        },
        selectedDeductions() {
            let deductions = this.deductions.filter(benefit => this.formData.deductions.includes(benefit.id));
            let result = [];
            this.formData.deductions.forEach(item => {
                result.push(deductions.find(d => d.id == item))
            })
            return result;
        },
    },
    watch: {
        
    }
}
</script>