<template>
    <modal id="payslip-edit-modal"
           size="extra-large"
           v-model="showModal"
           :title="`Edit ${this.$t('payslip')}`"
           @submit="submit"
           :preloader="preloader">

        <div class="d-flex justify-content-center mb-primary">
            <div class="text-center">
                <img :src="logo" alt="logo" class="radius-5 mb-2" style="max-height: 100px; max-width: 150px;"/>
                <h5 class="font-weight-bold">{{ payrunData.title ? payrunData.title : generalSettings.tenant_name }}</h5>
                <div v-if="payrunData.address">
                    <p class="m-0">{{ payrunData.address }}</p>
                </div>
                <div v-else>
                    <p class="m-0">
                        {{ generalSettings.address ? `${generalSettings.address}, ` : '' }}
                        {{ generalSettings.area ? `${generalSettings.area}, ` : '' }}
                        {{ generalSettings.city ? `${generalSettings.city}, ` : '' }}</p>
                    <p class="m-0">
                        {{ generalSettings.zip_code ? `Zip-${generalSettings.zip_code}, ` : '' }}
                        {{ generalSettings.country ? `${generalSettings.country}, ` : '' }}</p>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between mb-primary py-primary">
            <div class="">
                <app-user-media
                    :row-data="user"
                    :value="user.profile_picture"
                />
            </div>
            <div>
                <p class="m-0">{{ this.$t('payslip_for') }} : <span
                    class="text-info">{{ getDateDifferenceString(payslip.start_date, payslip.end_date) }}</span></p>
                <p class="m-0">{{ this.$t('created_at') }} : {{ customDateFormat(payslip.created_at) }}</p>
            </div>
            <div>
                <p class="m-0">{{ this.$t('designation') }} : {{ user.designation ? user.designation.name : 'None' }}</p>
                <p class="m-0">{{ this.$t('department') }} : {{ user.department ? user.department.name : 'None' }}</p>
           </div>
        </div>

        <!-- Haberes -->
        <div class="row">
            <div class="col-6 border p-3 mt-4 position-relative">
                <h4 class="custom-info-header text-primary"><app-icon name="book"/> INGRESOS</h4>
                <!-- Init conceptos -->
                <div class="col-md-12">
                    <app-form-group
                        type="multi-select"
                        label="Ingresos"
                        list-value-field="name"
                        v-model="formData.allowances"
                        :list="allowances"
                        @deletedId="removeAllowanceId"
                        @addedId="addAllowanceId"
                    />
                </div>
                <div class="col-md-12" v-if="formData.allowances.length && beneficiaries.length">
                    <table class="table table-bordered custom-table table-sm">
                        <thead>
                        <tr class="bg-muted">
                            <th scope="col" class="col-6">Haberes</th>
                            <th scope="col" class="col-2">Importe</th>
                            <th scope="col" class="col-2 d-none">Es porcentual (%)</th>
                            <th scope="col" class="col-2">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(allowance, index) in selectedAllowances" :key="index">
                            <td class="col-6">
                                <label class="text-left d-block mb-lg-0">{{ allowance.name }}</label>
                            </td>
                            <td class="col-2">
                                <app-input
                                    type="number"
                                    v-model="formData.allowanceValues[index]"
                                    :placeholder="'valor'"
                                    class="value-input"
                                />
                            </td>
                            <td class="col-2 d-none">
                                <app-input
                                    :id="`amount-${allowance.id}`"
                                    type="single-checkbox"
                                    class="mt-2 percentage-checkbox"
                                    v-model="formData.allowancePercentages[index]"
                                    list-value-field="Porcentaje (%)"
                                />
                            </td>
                            <td class="col-2">
                                <a href="#" @click.prevent="removeSelectedAllowance(allowance.id, index)" class="delete-icon">
                                    <app-icon name="trash" class="text-danger" width="22"/>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row mb-3" v-if="errors.allowanceValues">
                        <div class="col-3"></div>
                        <div class="col-9">
                        <small class="text-warning error-message">{{ errors.allowanceValues[0] }}</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-6 border p-3 mt-4 position-relative">
                <h4 class="custom-info-header text-primary"><app-icon name="book"/> EGRESOS</h4>
                <div class="col-md-12">
                    <app-form-group
                        type="multi-select"
                        :label="$t('deduction')"
                        list-value-field="name"
                        v-model="formData.deductions"
                        :list="deductions"
                        @deletedId="removeDeductionId"
                        @addedId="addDeductionId"
                    />
                </div>

                <div class="col-md-12" v-if="formData.deductions.length && beneficiaries.length">
                    <table class="table table-bordered custom-table table-sm">
                        <thead>
                            <tr class="bg-muted">
                                <th scope="col" class="col-6">Descuentos/Aportes<small> (Trabajador)</small> </th>
                                <th scope="col" class="col-2">Importe</th>
                                <th scope="col" class="col-2 d-none">Es porcentual (%)</th>
                                <th scope="col" class="col-2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(deduction, index) in selectedDeductions" :key="index">
                            <td class="col-6">
                                <label class="text-left d-block mb-lg-0">{{ deduction.name }}</label>
                            </td>
                            <td class="col-2">
                                <app-input
                                        type="number"
                                        v-model="formData.deductionValues[index]"
                                        :placeholder="'value'"
                                        class="value-input"
                                    />
                            </td>
                            <td class="col-2 d-none">
                                <app-input
                                    :id="`amount-${deduction.id}`"
                                    type="single-checkbox"
                                    class="mt-2"
                                    v-model="formData.deductionPercentages[index]"
                                    list-value-field="Porcentaje (%)"
                                />
                            </td>
                            <td class="col-2">
                                <a href="#" @click.prevent="removeSelectedDeduction(deduction.id, index)" class="delete-icon">
                                    <app-icon name="trash" class="text-danger mt-2" width="22"/>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row" v-if="errors.deductionValues">
                        <div class="col-3"></div>
                        <div class="col-9">
                        <small class="text-warning">{{ errors.deductionValues[0] }}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <table class="table">
            <tbody>
            <tr>
                <td class="col-6"></td>
                <td class="col-2"></td>
                <td class="col-2">
                    <label class="text-right d-block mb-lg-0">MONTO IMPONIBLE</label>
                </td>
                <td class="col-2">
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Monto Imponible" v-model="formData.base_imponible">
                        <div class="input-group-append">
                            <!-- <span class="input-group-text"><app-icon name="refresh-cw" class="" width="16"/></span> -->
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-6"></td>
                <td class="col-2"></td>
                <td class="col-2">
                    <label class="text-right d-block mb-lg-0">TOTAL HABERES</label>
                </td>
                <td class="col-2">
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Total Haberes" v-model="formData.total_bruto">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" @click.prevent="setTotalHaberes()" class="">
                                    <app-icon name="refresh-cw" class="" width="16" />
                                </a>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-6"></td>
                <td class="col-2"></td>
                <td class="col-2">
                    <label class="text-right d-block mb-lg-0">TOTAL DESCUENTOS</label>
                </td>
                <td class="col-2">
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Total Descuentos" v-model="formData.total_dscto">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" @click.prevent="setTotalDsctos()" class="">
                                    <app-icon name="refresh-cw" class="" width="16" />
                                </a>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-6"></td>
                <td class="col-2"></td>
                <td class="col-2">
                    <label class="text-right d-block mb-lg-0">TOTAL NETO</label>
                </td>
                <td class="col-2">
                    <div class="input-group">
                        <input type="number" class="form-control" placeholder="Total Neto" v-model="formData.total_liquido">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <a href="#" @click.prevent="setTotalNeto()" class="">
                                    <app-icon name="refresh-cw" class="" width="16" />
                                </a>
                            </span>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        
        <!-- Haberes -->


        <p v-if="payrunData.note" class="border-top font-italic"><b>Note: </b>{{payrunData.note}}</p>

    </modal>
</template>

<script>
import {
    customDateFormat,
    getDateDifferenceString
} from "../../../../../common/Helper/Support/DateTimeHelper";
import {mapState} from "vuex";
import {axiosGet, axiosPatch, urlGenerator} from "../../../../../common/Helper/AxiosHelper";
import ModalMixin from "../../../../../common/Mixin/Global/ModalMixin";
import {FormMixin} from "../../../../../core/mixins/form/FormMixin";
import {formatCurrency, numberFormatter} from "../../../../../common/Helper/Support/SettingsHelper";

export default {
    name: "PayslipEditModal",
    mixins: [ModalMixin, FormMixin],
    props: {
        payslip: {},
        settings: {}
    },
    data() {
        return {
            formatCurrency,
            customDateFormat,
            getDateDifferenceString,
            numberFormatter,
            beneficiaries: [],
            prevAllowances: [],
            prevAllowancePercentages: [],
            prevDeductions: [],
            prevDeductionPercentages: [],
            formData: {
                allowances: [],
                allowanceValues: [],
                allowancePercentages: [],
                deductions: [],
                deductionValues: [],
                deductionPercentages: [],
                net_salary: this.payslip.net_salary,

                total_bruto: 0,
                total_dscto: 0,
                total_aporte: 0,
                base_imponible: 0,
                total_liquido: 0,
            },
            errors: {},
            earnedSalary: 0,
        }
    },
    created() {
        this.getBeneficiaries();
        this.prevAllowances = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'allowance').map(b => Number(b.beneficiary_id));
        this.prevAllowancePercentages = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'allowance').map(b => Number(b.is_percentage));
        this.prevDeductions = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'deduction').map(b => Number(b.beneficiary_id));
        this.prevDeductionPercentages = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'deduction').map(b => Number(b.is_percentage));

        this.formData.allowances = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'allowance').map(b => Number(b.beneficiary_id));
        this.formData.allowanceValues = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'allowance').map(b => Number(b.amount));
        this.formData.allowancePercentages = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'allowance').map(b => Number(b.is_percentage));
        this.formData.deductions = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'deduction').map(b => Number(b.beneficiary_id));
        this.formData.deductionValues = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'deduction').map(b => Number(b.amount));
        this.formData.deductionPercentages = this.appliedBeneficiaries.filter(b => b.beneficiary?.type === 'deduction').map(b => Number(b.is_percentage));
        this.earnedSalary = Number(this.payslip.net_salary) - this.totalBeneficiary;
        this.formData.net_salary = this.earnedSalary + this.totalBeneficiary;

        this.formData.total_bruto = this.payslip.total_bruto;
        this.formData.total_dscto = this.payslip.total_dscto;
        this.formData.total_aporte = this.payslip.total_aporte;
        this.formData.base_imponible = this.payslip.base_imponible;
        this.formData.total_liquido = this.payslip.total_liquido;
    },
    methods: {
        addAllowanceId(value) {
            this.prevAllowances.push(value)
            this.formData.allowancePercentages.push(false)
            this.prevAllowancePercentages.push(false)
        },
        removeAllowanceId(value) {
            let index = this.prevAllowances.indexOf(value)
            this.prevAllowances.splice(index, 1);
            this.formData.allowanceValues.splice(index, 1);
            this.prevAllowancePercentages.splice(index, 1);
            this.formData.allowancePercentages.splice(index, 1);
        },
        addDeductionId(value) {
            this.prevDeductions.push(value)
            this.formData.deductionPercentages.push(false)
            this.prevDeductionPercentages.push(false)
        },
        removeDeductionId(value) {
            let index = this.prevDeductions.indexOf(value)
            this.prevDeductions.splice(index, 1);
            this.formData.deductionValues.splice(index, 1);
            this.prevDeductionPercentages.splice(index, 1);
            this.formData.deductionPercentages.splice(index, 1);
        },
        removeSelectedAllowance(id, index) {
            this.formData.allowances = this.formData.allowances.filter(item => item != id);
            this.formData.allowanceValues.splice(index, 1);
            this.prevAllowances.splice(index, 1);
            this.formData.allowancePercentages.splice(index, 1);
            this.prevAllowancePercentages.splice(index, 1);
        },
        removeSelectedDeduction(id, index) {
            this.formData.deductions = this.formData.deductions.filter(item => item != id);
            this.formData.deductionValues.splice(index, 1);
            this.prevDeductions.splice(index, 1);
            this.formData.deductionPercentages.splice(index, 1);
            this.prevDeductionPercentages.splice(index, 1);
        },
        getPercentageOfSalary(amount) {
            return ((this.basicSalary / 100) * Number(amount));
        },
        getBeneficiaries() {
            this.preloader = true;
            axiosGet(this.apiUrl.SELECTABLE_BENEFICIARY_BADGE).then(({data}) => {
                this.beneficiaries = data
            }).finally(() => {
                this.preloader = false;
            })
        },
        submit() {
            this.preloader = true;
            axiosPatch(`${this.apiUrl.PAYSLIP}/${this.payslip.id}/update`, this.formData).then(({data}) => {
                this.$emit('updated')
                this.$toastr.s(data.message);
            }).catch((error) => {
                this.errors = error.response.data.errors;
                this.$toastr.e(error.response.data.message);
            }).finally(() => {
                this.preloader = false;
            })
        },
        setTotalHaberes(){
            const totalHaberes = this.totalAllowances;
            this.formData.total_bruto = totalHaberes.toFixed(2);
        },
        setTotalDsctos(){
            this.formData.total_dscto = this.totalDeductions;
        },
        setTotalNeto(){
            const totalBruto = parseFloat(this.formData.total_bruto);
            const totalDscto = parseFloat(this.formData.total_dscto);

            // Verificar si ambos valores son números válidos
            if (!isNaN(totalBruto) && !isNaN(totalDscto)) {
                // Realizar la operación solo si ambos valores son numéricos
                const totalLiquido = totalBruto - totalDscto;
                this.formData.total_liquido = totalLiquido.toFixed(2);
            } else {
                // Manejar el caso en el que uno o ambos valores no sean numéricos
                this.formData.total_liquido = 0; // O cualquier otro valor que desees asignar en este caso
                console.error("Al menos uno de los valores no es un número válido.");
            }
        },
    },
    computed: {
        ...mapState({
            generalSettings: state => state.settings
        }),
        logo() {
            if (this.payrunData.logo){
                return urlGenerator(this.payrunData.logo)
            }
            return this.$store.state.settings.tenant_logo
                ? urlGenerator(this.$store.state.settings.tenant_logo)
                : urlGenerator('/images/logo/default-logo.png')
        },
        payrunData() {
            return JSON.parse(this.payslip.payrun.data);
        },
        user() {
            return this.payslip.user;
        },
        basicSalary() {
            return Number(this.payslip.basic_salary);
        },
        appliedBeneficiaries() {
            return this.payslip.beneficiaries.length
                ? this.payslip.beneficiaries
                : (parseInt(this.payslip.without_beneficiary) ? [] : this.payslip.payrun.beneficiaries);
        },
        totalBeneficiary() {
            return Number(this.totalAllowances - this.totalDeductions);
        },
        totalAllowances() {
            let total = 0;
            this.formData.allowances.forEach((item, index) => {
                let allowanceValue = this.formData.allowanceValues[index] ? Number(this.formData.allowanceValues[index]) : 0;
                this.formData.allowancePercentages[index]
                    ? total += this.getPercentageOfSalary(allowanceValue)
                    : total += allowanceValue;
            })
            return total;
        },
        totalDeductions() {
            let total = 0;
            this.formData.deductions.forEach((item, index) => {
                let deductionValue = this.formData.deductionValues[index] ? Number(this.formData.deductionValues[index]) : 0;
                this.formData.deductionPercentages[index]
                    ? total += this.getPercentageOfSalary(deductionValue)
                    : total += deductionValue;
            })
            return total;
        },
        allowances() {
            return this.beneficiaries.filter(benefit => benefit.type === 'allowance');
        },
        selectedAllowances() {
            let allowances = this.allowances.filter(benefit => this.formData.allowances.includes(benefit.id));
            let result = [];
            this.formData.allowances.forEach(item => {
                result.push(allowances.find(d => d.id == item))
            })
            return result;
        },
        deductions() {
            return this.beneficiaries.filter(benefit => benefit.type === 'deduction');
        },
        selectedDeductions() {
            let deductions = this.deductions.filter(benefit => this.formData.deductions.includes(benefit.id));
            let result = [];
            this.formData.deductions.forEach(item => {
                result.push(deductions.find(d => d.id == item))
            })
            return result;
        },
        submitButtonClass() {
            return (this.formData.allowances.length !== this.formData.allowanceValues.length)
            || (this.formData.deductions.length !== this.formData.deductionValues.length)
                ? 'btn-primary disabled' : 'btn-primary';
        }
    },
    watch: {
        totalBeneficiary: {
            handler: function (totalBeneficiary) {
                this.formData.net_salary = this.earnedSalary + totalBeneficiary
            },
        }
    }
}
</script>