<template>
    <modal id="employee-allowance-modal-list"
           size="extra-large"
           v-model="showModal"
           title="Editar conceptos remunerativos"
           @submit="submit"
           :scrollable="true"
           :preloader="preloader">

        <app-form-group
            type="multi-select"
            :label="$t('allowance')"
            list-value-field="name"
            v-model="formData.allowances"
            :list="allowances"
            @deletedId="removeAllowanceId"
            @addedId="addAllowanceId"
        />
        <template>
        <div v-if="formData.allowances.length && beneficiaries.length">
            <table class="table table-bordered custom-table table-sm">
                <thead>
                <tr class="bg-muted">
                    <th scope="col" class="col-6">Haberes</th>
                    <th scope="col" class="col-2">Importe</th>
                    <th scope="col" class="col-2">Es porcentual (%)</th>
                    <th scope="col" class="col-2">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(allowance, index) in selectedAllowances" :key="index">
                    <td class="col-6">
                        <label class="text-left d-block mb-lg-0">{{ allowance.name }}</label>
                    </td>
                    <td class="col-2">
                        <app-input
                            type="number"
                            v-model="formData.allowanceValues[index]"
                            :placeholder="'valor'"
                            class="value-input"
                        />
                    </td>
                    <td class="col-2">
                        <app-input
                            :id="`amount-${allowance.id}`"
                            type="single-checkbox"
                            class="mt-2 percentage-checkbox"
                            v-model="formData.allowancePercentages[index]"
                            list-value-field="Porcentaje (%)"
                        />
                    </td>
                    <td class="col-2">
                        <a href="#" @click.prevent="removeSelectedAllowance(allowance.id, index)" class="delete-icon">
                            <app-icon name="trash" class="text-danger" width="22"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row mb-3" v-if="errors.allowanceValues">
                <div class="col-3"></div>
                <div class="col-9">
                <small class="text-warning error-message">{{ errors.allowanceValues[0] }}</small>
                </div>
            </div>
        </div>
        </template>


        <app-form-group
            type="multi-select"
            :label="$t('deduction')"
            list-value-field="name"
            v-model="formData.deductions"
            :list="deductions"
            @deletedId="removeDeductionId"
            @addedId="addDeductionId"
        />
        <template>
        <div v-if="formData.deductions.length && beneficiaries.length">
            <table class="table table-bordered custom-table table-sm">
                <thead>
                    <tr class="bg-muted">
                        <th scope="col" class="col-6">Descuentos/Aportes<small> (Trabajador)</small> </th>
                        <th scope="col" class="col-2">Importe</th>
                        <th scope="col" class="col-2">Es porcentual (%)</th>
                        <th scope="col" class="col-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="(deduction, index) in selectedDeductions" :key="index">
                    <td class="col-6">
                        <label class="text-left d-block mb-lg-0">{{ deduction.name }}</label>
                    </td>
                    <td class="col-2">
                        <app-input
                                type="number"
                                v-model="formData.deductionValues[index]"
                                :placeholder="'value'"
                                class="value-input"
                            />
                    </td>
                    <td class="col-2">
                        <app-input
                            :id="`amount-${deduction.id}`"
                            type="single-checkbox"
                            class="mt-2"
                            v-model="formData.deductionPercentages[index]"
                            list-value-field="Porcentaje (%)"
                        />
                    </td>
                    <td class="col-2">
                        <a href="#" @click.prevent="removeSelectedDeduction(deduction.id, index)" class="delete-icon">
                            <app-icon name="trash" class="text-danger mt-2" width="22"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" v-if="errors.deductionValues">
                <div class="col-3"></div>
                <div class="col-9">
                <small class="text-warning">{{ errors.deductionValues[0] }}</small>
                </div>
            </div>
        </div>
        </template>

        <!-- Aportes del empleados -->
        <app-form-group
            type="multi-select"
            label="Aportes del empleador"
            list-value-field="name"
            v-model="formData.contributions"
            :list="contributions"
            @deletedId="removeContributionId"
            @addedId="addContributionId"
        />
        <template>
        <div v-if="formData.contributions.length && beneficiaries.length">
            <table class="table table-bordered custom-table table-sm">
                <thead>
                    <tr class="bg-muted">
                        <th scope="col" class="col-6">Aportes<small> (Empleador)</small> </th>
                        <th scope="col" class="col-2">Importe</th>
                        <th scope="col" class="col-2">Es porcentual (%)</th>
                        <th scope="col" class="col-2">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                <tr v-for="(contribution, index) in selectedContributions" :key="index">
                    <td class="col-6">
                        <label class="text-left d-block mb-lg-0">{{ contribution.name }}</label>
                    </td>
                    <td class="col-2">
                        <app-input
                                :readOnly="isAffectionLaw(contribution.affection_law)"
                                type="number"
                                v-model="formData.contributionValues[index]"
                                :placeholder="'value'"
                                class="value-input"
                            />
                    </td>
                    <td class="col-2">
                        <app-input
                            :disabled="isAffectionLaw(contribution.affection_law)"
                            :id="`amount-${contribution.id}`"
                            type="single-checkbox"
                            class="mt-2"
                            v-model="formData.contributionPercentages[index]"
                            list-value-field="Porcentaje (%)"
                        />
                    </td>
                    <td class="col-2">
                        <a  v-if="!isAffectionLaw(contribution.affection_law)"
                            href="#" @click.prevent="removeSelectedContribution(contribution.id, index)" class="delete-icon">
                            <app-icon name="trash" class="text-danger mt-2" width="22"/>
                        </a>
                        <a  v-else
                            href="#" class="delete-icon">
                            <app-icon name="lock" class="text-warning mt-2" width="22"/>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row" v-if="errors.contributionValues">
                <div class="col-3"></div>
                <div class="col-9">
                <small class="text-warning">{{ errors.contributionValues[0] }}</small>
                </div>
            </div>
        </div>
        </template>
        <!-- End aportes del empleados -->

        <template slot="footer-space" v-if="employeeBeneficiary">
            <button type="button"
                    class="btn btn-success mr-3"
                    @click="restoreBeneficiary">
                {{ this.$t('restore_to_default') }}
            </button>
        </template>
    </modal>
</template>

<script>
import ModalMixin from "../../../../../../../common/Mixin/Global/ModalMixin";
import FormHelperMixins from "../../../../../../../common/Mixin/Global/FormHelperMixins";
import {axiosGet, axiosPost, urlGenerator} from "../../../../../../../common/Helper/AxiosHelper";

import {
    SELECTABLE_BENEFICIARY_BADGE,
    EMPLOYEES,
} from "../../../../../../Config/ApiUrl";

export default {
    name: "EmployeeBeneficiaryListModal",
    mixins: [ModalMixin,FormHelperMixins],
    props: {
        employeeId: '',
        beneficiaryType: {},
        employeeBeneficiary: {},
    },
    data() {
        return {
            beneficiaries: [],
            prevAllowances: [],
            prevAllowancePercentages: [],
            prevDeductions: [],
            prevDeductionPercentages: [],
            prevContributions: [],
            prevContributionPercentages: [],

            formData: {
                allowances: [],
                allowanceValues: [],
                allowancePercentages: [],
                deductions: [],
                deductionValues: [],
                deductionPercentages: [],
                contributions: [],
                contributionValues: [],
                contributionPercentages: [],
            },

            errors: {},

            //Add
            employee:{},
            defaultPayrun:{},
            loading:{},

            userBeneficiaries:[],

            SELECTABLE_BENEFICIARY_BADGE,
            EMPLOYEES,
        }
    },
    methods: {
        getPayrunSetting() {
            this.loading = true;
            axiosGet(`${EMPLOYEES}/${this.employeeId}/payrun-setting`).then(({data}) => {
                this.employee = data;
                this.defaultPayrun = data.default_payrun ? data.default_payrun : {};
            }).finally(() => {
                this.setUserBeneficiaries();
                this.setFormData();
                this.loading = false;
            })
        },
        setUserBeneficiaries() {

            if (this.employee.payrun_beneficiaries.length) {
                this.userBeneficiaries = this.employee.payrun_beneficiaries;
            } else {
                this.userBeneficiaries = (this.employee.beneficiary_restriction ? []
                    : (this.employee.default_payrun ? this.employee.default_payrun.beneficiaries : []));
            }

            this.prevAllowances = this.userBeneficiaries.filter(b => b.beneficiary?.type === 'allowance').map(b => Number(b.beneficiary_id));
            this.prevAllowancePercentages = this.userBeneficiaries.filter(b => b.beneficiary?.type === 'allowance').map(b => Number(b.is_percentage));
            this.prevDeductions = this.userBeneficiaries.filter(b => b.beneficiary?.type === 'deduction').map(b => Number(b.beneficiary_id));
            this.prevDeductionPercentages = this.userBeneficiaries.filter(b => b.beneficiary?.type === 'deduction').map(b => Number(b.is_percentage));
            this.prevContributions = this.userBeneficiaries.filter(b => b.beneficiary?.type === 'contribution').map(b => Number(b.beneficiary_id));
            this.prevContributionPercentages = this.userBeneficiaries.filter(b => b.beneficiary?.type === 'contribution').map(b => Number(b.is_percentage));

        },
        setFormData() {
            this.formData.allowances = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'allowance')
                .map(b => Number(b.beneficiary_id));

            this.formData.allowanceValues = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'allowance')
                .map(b => Number(b.amount));

            this.formData.allowancePercentages = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'allowance')
                .map(b => Number(b.is_percentage));

            this.formData.deductions = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'deduction')
                .map(b => Number(b.beneficiary_id));

            this.formData.deductionValues = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'deduction')
                .map(b => Number(b.amount));

            this.formData.deductionPercentages = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'deduction')
                .map(b => Number(b.is_percentage));

            this.formData.contributions = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'contribution')
                .map(b => Number(b.beneficiary_id));

            this.formData.contributionValues = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'contribution')
                .map(b => Number(b.amount));

            this.formData.contributionPercentages = this.userBeneficiaries
                .filter(b => b.beneficiary?.type === 'contribution')
                .map(b => Number(b.is_percentage));
        },
        addAllowanceId(value) {
            this.prevAllowances.push(value)
            this.formData.allowancePercentages.push(false)
            this.prevAllowancePercentages.push(false)
        },
        removeAllowanceId(value) {
            let index = this.prevAllowances.indexOf(value)
            this.prevAllowances.splice(index, 1);
            this.formData.allowanceValues.splice(index, 1);
            this.prevAllowancePercentages.splice(index, 1);
            this.formData.allowancePercentages.splice(index, 1);
        },
        addDeductionId(value) {
            this.prevDeductions.push(value)
            this.formData.deductionPercentages.push(false)
            this.prevDeductionPercentages.push(false)
        },
        removeDeductionId(value) {
            let index = this.prevDeductions.indexOf(value)
            this.prevDeductions.splice(index, 1);
            this.formData.deductionValues.splice(index, 1);
            this.prevDeductionPercentages.splice(index, 1);
            this.formData.deductionPercentages.splice(index, 1);
        },

        addContributionId(value) {
            this.prevContributions.push(value)
            this.formData.contributionPercentages.push(false)
            this.prevContributionPercentages.push(false)
        },
        removeContributionId(value) {
            let index = this.prevContributions.indexOf(value)
            this.prevContributions.splice(index, 1);
            this.formData.contributionValues.splice(index, 1);
            this.prevContributionPercentages.splice(index, 1);
            this.formData.contributionPercentages.splice(index, 1);
        },

        removeSelectedAllowance(id, index) {
            this.formData.allowances = this.formData.allowances.filter(item => item != id);
            this.formData.allowanceValues.splice(index, 1);
            this.prevAllowances.splice(index, 1);
            this.formData.allowancePercentages.splice(index, 1);
            this.prevAllowancePercentages.splice(index, 1);
        },
        removeSelectedDeduction(id, index) {
            this.formData.deductions = this.formData.deductions.filter(item => item != id);
            this.formData.deductionValues.splice(index, 1);
            this.prevDeductions.splice(index, 1);
            this.formData.deductionPercentages.splice(index, 1);
            this.prevDeductionPercentages.splice(index, 1);
        },

        removeSelectedContribution(id, index) {
            this.formData.contributions = this.formData.contributions.filter(item => item != id);
            this.formData.contributionValues.splice(index, 1);
            this.prevContributions.splice(index, 1);
            this.formData.contributionPercentages.splice(index, 1);
            this.prevContributionPercentages.splice(index, 1);
        },

        getBeneficiaries() {
            this.preloader = true;
            axiosGet(SELECTABLE_BENEFICIARY_BADGE).then(({data}) => {
                this.beneficiaries = data
            }).finally(() => {
                this.preloader = false;
            })
        },
        submit() {
            this.preloader = true;
            axiosPost(`${EMPLOYEES}/${this.employeeId}/payrun-setting/update-beneficiary`, this.formData)
                .then(response => {
                    $('#employee-allowance-modal-list').modal('hide');
                    this.$toastr.s('', response.data.message);
                    this.$emit('reload')
                }).catch((error) => {
                this.errors = error.response.data.errors;
            }).finally(() => {
                this.preloader = false;
            })
        },
        restoreBeneficiary() {
            this.preloader = true;
            axiosGet(`${EMPLOYEES}/${this.employeeId}/payrun-setting/restore?type=beneficiaries`)
                .then(response => {
                    $('#employee-allowance-modal-list').modal('hide');
                    this.$toastr.s('', response.data.message);
                    this.$emit('reload')
                }).finally(() => {
                this.preloader = false;
            })
        },
        isAffectionLaw(affectionLaw) {
            // Lista de valores permitidos
            const allowedValues = [
                'ESSALUD',
                'SNP',
                'SCTR',
                'CUARTA CAT',
                'AFP',
                'AFP SEGURO',
                'AFP COM VAR',
                'EPS',
                'SENATI',
                'HONORARIOS'
            ];

            // Comprueba si el valor de affectionLaw está en la lista de valores permitidos
            return allowedValues.includes(affectionLaw);
        }
    },
    computed: {
        allowances() {
            return this.beneficiaries.filter(benefit => benefit.type === 'allowance');
        },
        selectedAllowances() {
            let allowances = this.allowances.filter(benefit => this.formData.allowances.includes(benefit.id));
            let result = [];
            this.formData.allowances.forEach(item => {
                result.push(allowances.find(d => d.id == item))
            })
            return result;
        },
        deductions() {
            return this.beneficiaries.filter(benefit => benefit.type === 'deduction');
        },
        selectedDeductions() {
            let deductions = this.deductions.filter(benefit => this.formData.deductions.includes(benefit.id));
            let result = [];
            this.formData.deductions.forEach(item => {
                result.push(deductions.find(d => d.id == item))
            })
            return result;
        },

        contributions() {
            return this.beneficiaries.filter(benefit => benefit.type === 'contribution');
        },
        selectedContributions() {
            let contributions = this.contributions.filter(benefit => this.formData.contributions.includes(benefit.id));
            let result = [];
            this.formData.contributions.forEach(item => {
                result.push(contributions.find(d => d.id == item))
            })
            return result;
        },

        submitButtonClass() {
            return (this.formData.allowances.length !== this.formData.allowanceValues.length)
            || (this.formData.deductions.length !== this.formData.deductionValues.length) || (this.formData.contributions.length !== this.formData.contributionValues.length)
                ? 'btn-primary disabled' : 'btn-primary';
        },
        
    },
    created() {
        this.getBeneficiaries();
        this.getPayrunSetting();
        
    },
    // watch: {
    //     formData: {
    //         handler: function (user) {
    //             console.log(user)
    //         },
    //         deep: true
    //     }
    // }
}
</script>

<style scoped>
    /* .table-bordered {
        border: 1px solid #dee2e6!important;
    } */

    .custom-table th {
    text-align: center;
    }

    .concept-name {
        font-weight: bold;
    }

    .value-input {
        width: 100%;
    }

    .percentage-checkbox {
        text-align: center;
    }

    .delete-icon {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .error-message {
        color: #dc3545;
        font-size: 0.875rem;
    }
</style>