<template>
    <modal id="document-types-modal"
           v-model="showModal"
           :title="generateModalTitle(' tipo documento')"
           @submit="submitData"
           :loading="loading"
           :preloader="preloader">
        <form ref="form" :data-url='this.selectedUrl ? this.selectedUrl : apiUrl.DOCUMENT_TYPES'>
            <app-form-group
                label="Nombre abreviado"
                v-model="formData.name"
                placeholder="Nombre abreviado"
                :required="true"
                :error-message="$errorMessage(errors, 'name')"
            />
            <app-form-group
                label="Descripción"
                v-model="formData.description"
                placeholder="Descripción"
                :required="true"
                :error-message="$errorMessage(errors, 'description')"
            />
            <app-form-group
                label="Código AIRHSP"
                v-model="formData.airhsp_code"
                placeholder="Código AIRHSP"
                :required="true"
                :error-message="$errorMessage(errors, 'airhsp_code')"
            />
            <div class="d-flex justify-content-between">
                <app-form-group
                    :label="$t('enabled')"
                    type="radio"
                    :radio-checkbox-name="'enabled'"
                    v-model="formData.is_enabled"
                    :required="true"
                    :list="[{'id': 1, 'value': 'Yes'}, {'id': 0, 'value': 'No'}]"
                    :error-message="$errorMessage(errors, 'is_enabled')"
                />
            </div>
        </form>
    </modal>
</template>

<script>
import ModalMixin from "../../../../../common/Mixin/Global/ModalMixin";
import FormHelperMixins from "../../../../../common/Mixin/Global/FormHelperMixins";
import {addSelectInSelectArray} from "../../../../../common/Helper/Support/FormHelper";

export default {
    name: "DocumentTypesCreateEditModal",
    mixins: [ModalMixin, FormHelperMixins],
    data() {
        return {
            formData: {
                is_enabled: true,
            }
        }
    },
    methods: {
        afterSuccess({data}) {
            this.toastAndReload(data.message, 'document-types-table');
            this.formData = {};
            $('#document-types-modal').modal('hide');
            this.$emit('input', false);
        }
    },
    computed: {
        getLeaveTypes() {
            return addSelectInSelectArray([
                {id: 'paid', value: this.$t('paid')},
                {id: 'unpaid', value: this.$t('unpaid')},
            ], 'value', 'type');
        }
    }
}
</script>

<style scoped>

</style>
