<template>
    <modal id="beneficiary-badge-create-edit-modal"
            size="extra-large"
            v-model="showModal"
            :title="generateModalTitle('Concepto de Planilla')"
            @submit="submitData"
            :loading="loading"
            :preloader="preloader">
        <form ref="form"
              :data-url='selectedUrl ? selectedUrl : apiUrl.BENEFICIARY_BADGE'
              @submit.prevent="submitData">

            <div class="row">
                <div class="col-md-6">
                    <app-form-group
                        :label="$t('name')"
                        type="text"
                        v-model="formData.name"
                        :placeholder="$placeholder('name', '')"
                        :required="true"
                        :error-message="$errorMessage(errors, 'name')"
                    />
                </div>
                <div class="col-md-6">
                    <app-form-group
                        type="textarea"
                        :label="$fieldLabel('description', '')"
                        :placeholder="$textAreaPlaceHolder('description')"
                        v-model="formData.description"
                        :required="true"
                        :error-message="$errorMessage(errors, 'description')"
                    />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <app-form-group
                        type="radio"
                        class="my-1"
                        label="Tipo de concepto"
                        radio-checkbox-name="beneficiary_type"
                        v-model="formData.type"
                        @change="changeConcepType()"
                        :error-message="$errorMessage(errors, 'type')"
                        :list="[
                        {id:'allowance', value:this.$t('allowance')},
                        {id:'deduction', value:this.$t('deduction')},
                        {id:'contribution', value:this.$t('contribution')},
                    ]"
                    />
                </div>
                <!-- Si es allowance -->
                <div class="col-md-6" v-if="formData.type === 'allowance'">
                    <app-form-group
                        label="Modalidad de entrega"
                        type="select"
                        chooseLabel="Elige modalidad de entrega"
                        :required="formData.type == 'allowance'"
                        :list="[
                            {id:'',value: 'No Corresponde'},
                            {id:'Permanente',value: 'Rem. Permamente'},
                            {id:'Ocacional', value:  'Rem. Ocacional'}
                        ]"
                        v-model="formData.modality"
                        :error-message="$errorMessage(errors, 'modality')"
                    />
                </div>
            </div>

            <div class="row mt-4">
                
                <div class="col-md-12">
                    <app-form-group-selectable
                        type="search-select"
                        label="Concepto AIRSHP"
                        list-value-field="name"
                        v-model="formData.concept_airshp_id"
                        chooseLabel="Elige concepto AIRSHP"
                        :error-message="$errorMessage(errors, 'concept_airshp_id')"
                        :fetch-url="SELECTABLE_AIRHSP_CONCEPTS+'?type='+concept_type_airshp"
                    />
                </div>
                <div class="col-md-12">
                    <app-form-group-selectable
                        type="search-select-codigo"
                        label="Concepto Planilla Electrónica (SUNAT)"
                        list-value-field="descripcion"
                        v-model="formData.sunat_pe_t22_codigo"
                        chooseLabel="Elige concepto PDT-PLAME"
                        :error-message="$errorMessage(errors, 'sunat_pe_t22_codigo')"
                        :fetch-url="SELECTABLE_SUNAT_PE_T22"
                    />
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-4">
                    <app-form-group
                        :label="$t('active')"
                        v-model="formData.is_active"
                        type="switch"
                    />
                </div>
            </div>
            
        </form>
    </modal>
</template>

<script>
import FormHelperMixins from "../../../../common/Mixin/Global/FormHelperMixins";
import ModalMixin from "../../../../common/Mixin/Global/ModalMixin";
import {
    SELECTABLE_PAYMENT_FREQUENCIES,
    SELECTABLE_AIRHSP_CONCEPTS,
    SELECTABLE_SUNAT_PE_T22,
} from "../../../Config/ApiUrl";

export default {
    name: "BeneficiaryBadgeCreateEditModal",
    mixins: [FormHelperMixins, ModalMixin],
    data(){
        return{
            formData:{
                type: '',
                is_active: true,
                concept_airshp_id: '',
                sunat_pe_t22_codigo: '',
            },
            concept_type_airshp: '',
            SELECTABLE_PAYMENT_FREQUENCIES,
            SELECTABLE_AIRHSP_CONCEPTS,
            SELECTABLE_SUNAT_PE_T22,
        }
    },
    methods: {
        afterSuccess({data}) {
            this.formData = {};
            $('#beneficiary-badge-create-edit-modal').modal('hide');
            this.toastAndReload(data.message, 'beneficiary-badge-table')
            this.$emit('input', false);
        },
        afterSuccessFromGetEditData({data}){
            this.formData = data;
            this.formData.is_active = parseInt(data.is_active);
            this.changeConcepType();
            this.preloader = false;
        },
        changeConcepType() {
            const typeToConceptMap = {
                'allowance': '1',
                'deduction': '2',
                'contribution': '3'
            };

            this.concept_type_airshp = typeToConceptMap[this.formData.type] || '';
            // this.formData.concept_airshp_id = '';
        }
    }
}
</script>

<style scoped>

</style>