<template>

    <div class="card card-with-shadow border border-0 mb-primary">
        <div class="card-body">
            
            <div class="row card-header no-gutters align-items-start mb-4 d-none" style="">
                <div class="col-xl-2 col-md-2 col-12 d-flex justify-content-center align-items-center" style="height: 70px;">
                    <img :src="logo" class="img-fluid" style="max-height: 70px;">
                </div>
                <div class="col-xl-6 col-md-6 col-12 pl-2 align-self-center">
                    <address class="mb-0" style="line-height: initial;">
                        <span class="font-weight-bold">{{ payrunData.title ? payrunData.title : generalSettings.tenant_name }}</span> <br>
                        <div v-if="payrunData.address">
                            <p class="m-0">{{ payrunData.address }}</p>
                        </div>
                        <div v-else>
                            <p class="m-0">
                                {{ generalSettings.address ? `${generalSettings.address}, ` : '' }}
                                {{ generalSettings.area ? `${generalSettings.area}, ` : '' }}
                                {{ generalSettings.city ? `${generalSettings.city}, ` : '' }}</p>
                            <p class="m-0">
                                {{ generalSettings.zip_code ? `Zip-${generalSettings.zip_code}, ` : '' }}
                                {{ generalSettings.country ? `${generalSettings.country}, ` : '' }}</p>
                        </div>
                    </address>
                </div>
                <div class="col-xl-4 col-md-4 col-12 align-self-end">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <app-form-group
                                    label="Fec. Emisión"
                                    type="date"
                                    v-model="formData.issue_date"
                                    placeholder="Fec. Emisión"
                                    :error-message="$errorMessage(errors, 'issue_date')"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End encabezado -->
            <!-- Init form -->
            <div class="row border p-3 mt-3 position-relative">
                <h4 class="custom-info-header text-primary"><app-icon name="map"/> INFORMACIÓN DE PLANILLA</h4>
                <div class="col-md-4">
                    <app-form-group-selectable
                        type="select"
                        label="Tipo de planilla"
                        chooseLabel="Elige Tipo de planilla"
                        list-value-field="option"
                        v-model="formData.payroll_type_id"
                        :error-message="$errorMessage(errors, 'payroll_type_id')"
                        :fetch-url="SELECTABLE_PAYROLL_TYPES"
                        :disabled="true"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group-selectable
                        type="select"
                        label="Clase de planilla"
                        chooseLabel="Elige Clase de planilla"
                        list-value-field="option"
                        v-model="formData.payroll_class_id"
                        :error-message="$errorMessage(errors, 'payroll_class_id')"
                        :fetch-url="SELECTABLE_PAYROLL_CLASSES"
                        :disabled="true"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group-selectable
                        type="select"
                        label="Fuente de financiamiento"
                        chooseLabel="Elige Fuente de financiamiento"
                        list-value-field="option"
                        v-model="formData.finance_source_id"
                        :error-message="$errorMessage(errors, 'finance_source_id')"
                        :fetch-url="SELECTABLE_FINANCE_SOURCES"
                        :disabled="true"
                    />
                </div>
                <div class="col-md-4 d-none">
                    <app-form-group
                        type="select"
                        :label="$t('payrun_period')"
                        v-model="formData.payrun_period"
                        :error-message="$errorMessage(errors, 'payrun_period')"
                        :list="[
                        {id:'', value:this.$fieldLabel('choose', 'payrun_period'), disabled: true},
                        {id:'monthly', value:this.$t('monthly')},
                        {id:'customized', value:this.$t('customized')}
                    ]"
                    />
                </div>
                <template v-if="formData.payrun_period === 'customized'">
                <div class="col-md-4">
                    <app-form-group
                        :label="$t('start_date')"
                        type="date"
                        v-model="formData.start_date"
                        :placeholder="$placeholder('start_date', '')"
                        :required="true"
                        :error-message="$errorMessage(errors, 'start_date')"
                    />
                </div>
                <div class="col-md-4">
                    <app-form-group
                        :label="$t('end_date')"
                        type="date"
                        v-model="formData.end_date"
                        :min-date="formData.start_date"
                        :placeholder="$placeholder('end_date', '')"
                        :required="true"
                        :error-message="$errorMessage(errors, 'end_date')"
                    />
                </div>
                <!--  :max-date="lastOfTheMonth(formData.start_date)"-->
                </template>

                <template v-if="formData.payrun_period === 'monthly'">
                <div class="col-md-4 d-none">
                    <div class="form-group">
                        <label for="">
                            Mes * 
                        </label>
                        <app-input
                            type="select"
                            v-model="formData.executable_month"
                            :list="months"
                            :error-message="$errorMessage(errors, 'executable_month')"
                        />
                    </div>
                </div>
                <div class="col-md-4 d-none">
                    <div class="form-group">
                        <label for="">
                            Año * 
                        </label>
                        <app-input
                            type="select"
                            v-model="formData.executable_year"
                            :list="yearsList"
                            :error-message="$errorMessage(errors, 'executable_year')"
                        />
                    </div>
                </div>
                </template>
            </div>

            <div class="row border p-3 mt-4 position-relative">    
                <h4 class="custom-info-header text-primary"><app-icon name="book"/> INFORMACIÓN DE BOLETA</h4>        
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="">
                            Usuario * 
                            <a href="#" class="font-weight-bold text-info"
                                @click="isEmployeeCreateOpenModalActive = true"
                                v-if="$can('add_employees')"
                            >[+ Nuevo]</a>
                            <a href="#" class="font-weight-bold text-info"
                                @click="editUserModal()"
                                v-if="$can('add_employees') && formData.user_id"
                            >[<i class="fas fa-pencil-alt"></i> Editar]</a>
                        </label>
                        <app-form-group-selectable
                            :key="fetchUserKey"
                            page="only-input"
                            type="search-select"
                            label="Nombres y Apellidos"
                            list-value-field="value"
                            v-model="formData.user_id"
                            chooseLabel="Selecciona Usuario"
                            :error-message="$errorMessage(errors, 'user_id')"
                            :fetch-url="`${TENANT_SELECTABLE_PAYSLIP_USERS}?with=profile-information`"
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Código Modular"
                        placeholder=""
                        v-model="formData.modular_code"
                        :required="true"
                        :error-message="$errorMessage(errors, 'modular_code',true,true)"
                        :readonly="true"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        label="Nro. Doc. Indent."
                        placeholder=""
                        v-model="formData.document_number"
                        :required="true"
                        :error-message="$errorMessage(errors, 'document_number',true,true)"
                        :disabled="true"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group-selectable
                        type="select"
                        label="Establecimiento"
                        list-value-field="name"
                        v-model="formData.agency_id"
                        chooseLabel="Elige una agencia"
                        :error-message="$errorMessage(errors, 'agency_id')"
                        :fetch-url="SELECTABLE_AGENCIES"
                    />
                    <!-- :disabled="true" -->
                </div>
                <div class="col-md-3">
                    <div class="form-gropup">
                        <label for="">
                            Cargo * 
                            <a href="#" class="font-weight-bold text-info"
                                @click="isModalDesignationActive = true"
                                v-if="$can('add_employees')"
                            >[+ Nuevo]</a>
                        </label>
                        <app-form-group-selectable
                            :key="fetchDesignationKey"
                            label="Cargo"
                            page="only-input"
                            type="search-select"
                            list-value-field="name"
                            v-model="formData.designation_id"
                            chooseLabel="Elige un cargo"
                            :error-message="$errorMessage(errors, 'designation_id')"
                            :fetch-url="SELECTABLE_DESIGNATION"
                        />
                    </div>
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="number"
                        label="Días trabajados"
                        placeholder="Días trabajados"
                        v-model="formData.days_worked"
                        :required="false"
                        :error-message="$errorMessage(errors, 'days_worked')"
                    />
                </div>
                <div class="col-md-3">
                    <app-form-group
                        type="text"
                        label="Leyenda"
                        placeholder="Leyenda"
                        v-model="formData.note"
                        :required="false"
                        :error-message="$errorMessage(errors, 'note')"
                    />
                </div>
            </div>
            <!-- End form -->

            <div class="row border p-3 mt-4 position-relative">
                <h4 class="custom-info-header text-primary"><app-icon name="book"/> INGRESOS</h4>
                <!-- Init conceptos -->
                <div class="col-md-12">
                    <app-form-group
                        type="multi-select"
                        label="Ingresos"
                        list-value-field="name"
                        v-model="formData.allowances"
                        :list="allowances"
                        @deletedId="removeAllowanceId"
                        @addedId="addAllowanceId"
                    />
                </div>
                <div class="col-md-12" v-if="formData.allowances.length && beneficiaries.length">
                    <table class="table table-bordered custom-table table-sm">
                        <thead>
                        <tr class="bg-muted">
                            <th scope="col" class="col-6">Haberes</th>
                            <th scope="col" class="col-2">Importe</th>
                            <th scope="col" class="col-2 d-none">Es porcentual (%)</th>
                            <th scope="col" class="col-2">Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(allowance, index) in selectedAllowances" :key="index">
                            <td class="col-6">
                                <label class="text-left d-block mb-lg-0">{{ allowance.name }}</label>
                            </td>
                            <td class="col-2">
                                <app-input
                                    type="number"
                                    v-model="formData.allowanceValues[index]"
                                    :placeholder="'valor'"
                                    class="value-input"
                                />
                            </td>
                            <td class="col-2 d-none">
                                <app-input
                                    :id="`amount-${allowance.id}`"
                                    type="single-checkbox"
                                    class="mt-2 percentage-checkbox"
                                    v-model="formData.allowancePercentages[index]"
                                    list-value-field="Porcentaje (%)"
                                />
                            </td>
                            <td class="col-2">
                                <a href="#" @click.prevent="removeSelectedAllowance(allowance.id, index)" class="delete-icon">
                                    <app-icon name="trash" class="text-danger" width="22"/>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row mb-3" v-if="errors.allowanceValues">
                        <div class="col-3"></div>
                        <div class="col-9">
                        <small class="text-warning error-message">{{ errors.allowanceValues[0] }}</small>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row border p-3 mt-4 position-relative">
                <h4 class="custom-info-header text-primary"><app-icon name="book"/> EGRESOS</h4>
                <div class="col-md-12">
                    <app-form-group
                        type="multi-select"
                        :label="$t('deduction')"
                        list-value-field="name"
                        v-model="formData.deductions"
                        :list="deductions"
                        @deletedId="removeDeductionId"
                        @addedId="addDeductionId"
                    />
                </div>

                <div class="col-md-12" v-if="formData.deductions.length && beneficiaries.length">
                    <table class="table table-bordered custom-table table-sm">
                        <thead>
                            <tr class="bg-muted">
                                <th scope="col" class="col-6">Descuentos/Aportes<small> (Trabajador)</small> </th>
                                <th scope="col" class="col-2">Importe</th>
                                <th scope="col" class="col-2 d-none">Es porcentual (%)</th>
                                <th scope="col" class="col-2">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(deduction, index) in selectedDeductions" :key="index">
                            <td class="col-6">
                                <label class="text-left d-block mb-lg-0">{{ deduction.name }}</label>
                            </td>
                            <td class="col-2">
                                <app-input
                                        type="number"
                                        v-model="formData.deductionValues[index]"
                                        :placeholder="'value'"
                                        class="value-input"
                                    />
                            </td>
                            <td class="col-2 d-none">
                                <app-input
                                    :id="`amount-${deduction.id}`"
                                    type="single-checkbox"
                                    class="mt-2"
                                    v-model="formData.deductionPercentages[index]"
                                    list-value-field="Porcentaje (%)"
                                />
                            </td>
                            <td class="col-2">
                                <a href="#" @click.prevent="removeSelectedDeduction(deduction.id, index)" class="delete-icon">
                                    <app-icon name="trash" class="text-danger mt-2" width="22"/>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="row" v-if="errors.deductionValues">
                        <div class="col-3"></div>
                        <div class="col-9">
                        <small class="text-warning">{{ errors.deductionValues[0] }}</small>
                        </div>
                    </div>
                </div>
            </div>
            
            

            <app-form-group
                class="d-none"
                type="multi-select"
                label="Aportes del empleador"
                list-value-field="name"
                v-model="formData.contributions"
                :list="contributions"
                @deletedId="removeContributionId"
                @addedId="addContributionId"
            />
            <div v-if="formData.contributions.length && beneficiaries.length">
                <table class="table table-bordered custom-table table-sm">
                    <thead>
                        <tr class="bg-muted">
                            <th scope="col" class="col-6">Aportes<small> (Empleador)</small> </th>
                            <th scope="col" class="col-2">Importe</th>
                            <th scope="col" class="col-2 d-none">Es porcentual (%)</th>
                            <th scope="col" class="col-2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(contribution, index) in selectedContributions" :key="index">
                        <td class="col-6">
                            <label class="text-left d-block mb-lg-0">{{ contribution.name }}</label>
                        </td>
                        <td class="col-2">
                            <app-input
                                type="number"
                                v-model="formData.contributionValues[index]"
                                :placeholder="'value'"
                                class="value-input"
                            />
                        </td>
                        <td class="col-2 d-none">
                            <app-input
                                :id="`amount-${contribution.id}`"
                                type="single-checkbox"
                                class="mt-2"
                                v-model="formData.contributionPercentages[index]"
                                list-value-field="Porcentaje (%)"
                            />
                        </td>
                        <td class="col-2">
                            <a href="#" @click.prevent="removeSelectedContribution(contribution.id, index)" class="delete-icon">
                                <app-icon name="trash" class="text-danger mt-2" width="22"/>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td class=""></td>
                        <td class="d-none"></td>
                        <td class="col-2">
                            <label class="text-right d-block mb-lg-0">TOTAL  APORTES</label>
                        </td>
                        <td class="col-2">
                            <label class="text-right d-block mb-lg-0">
                                <app-input
                                    type="number"
                                    v-model="formData.total_aporte"
                                    placeholder="Total Aportes"
                                    class="value-input"
                                />
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
                
                <div class="row" v-if="errors.contributionValues">
                    <div class="col-3"></div>
                    <div class="col-9">
                    <small class="text-warning">{{ errors.contributionValues[0] }}</small>
                    </div>
                </div>
            </div>

            <!-- End conceptos -->
            <table class="table">
                <tbody>
                <tr>
                    <td class="col-6"></td>
                    <td class="col-2"></td>
                    <td class="col-2">
                        <label class="text-right d-block mb-lg-0">MONTO IMPONIBLE</label>
                    </td>
                    <td class="col-2">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Monto Imponible" v-model="formData.base_imponible">
                            <div class="input-group-append">
                                <!-- <span class="input-group-text"><app-icon name="refresh-cw" class="" width="16"/></span> -->
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-6"></td>
                    <td class="col-2"></td>
                    <td class="col-2">
                        <label class="text-right d-block mb-lg-0">TOTAL HABERES</label>
                    </td>
                    <td class="col-2">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Total Haberes" v-model="formData.total_bruto">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" @click.prevent="setTotalHaberes()" class="">
                                        <app-icon name="refresh-cw" class="" width="16" />
                                    </a>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-6"></td>
                    <td class="col-2"></td>
                    <td class="col-2">
                        <label class="text-right d-block mb-lg-0">TOTAL DESCUENTOS</label>
                    </td>
                    <td class="col-2">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Total Descuentos" v-model="formData.total_dscto">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" @click.prevent="setTotalDsctos()" class="">
                                        <app-icon name="refresh-cw" class="" width="16" />
                                    </a>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-6"></td>
                    <td class="col-2"></td>
                    <td class="col-2">
                        <label class="text-right d-block mb-lg-0">TOTAL NETO</label>
                    </td>
                    <td class="col-2">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Total Neto" v-model="formData.total_liquido">
                            <div class="input-group-append">
                                <span class="input-group-text">
                                    <a href="#" @click.prevent="setTotalNeto()" class="">
                                        <app-icon name="refresh-cw" class="" width="16" />
                                    </a>
                                </span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div>
                <div class="card-footer text-right  hidden-sm-down">
                    <button class="btn btn-secondary mr-2" style="min-width: 180px;"  @click.prevent="openPayrun">Cancelar
                    </button> 
                    <span>
                        <app-submit-button
                            btn-class="btn btn-primary"
                            @click="submitData"
                            label="Guardar"
                            :loading="preloader"
                        />
                    </span>
                </div>
            </div>
        </div>

        <employee-create-edit-model
            v-if="isEmployeeCreateOpenModalActive "
            v-model="isEmployeeCreateOpenModalActive"
            :selected-url="''"
            :from="'payslip'"
            @message="handleMessage"
        />

        <app-employee-invite
            v-if="isModalActive"
            v-model="isModalActive"
            :selected-url="selectedUrlUser"
            :from="'payslip'"
            @message="handleMessage"
        />

        <app-designation-modal
            v-if="isModalDesignationActive"
            v-model="isModalDesignationActive"
            :selected-url="selectedUrl"
            @close="isModalDesignationActive = false"
            :from="'payslip'"
            @action="handleAddedDesignation"
        />

    </div>
</template>

<script>
import FormHelperMixins from "../../../../common/Mixin/Global/FormHelperMixins";
import {axiosGet, axiosPatch, urlGenerator, axiosPost} from "../../../../common/Helper/AxiosHelper";
import {formatCurrency, numberFormatter} from "../../../../common/Helper/Support/SettingsHelper";
import EmployeeCreateEditModel from "../Employee/EmployeeCreateEditModal"
import {mapState} from "vuex";
import moment from "moment";
import {
    SELECTABLE_BENEFICIARY_BADGE,
    SELECTABLE_DOCUMENT_TYPES,
    SELECTABLE_FINANCIAL_ENTITIES,
    TENANT_SELECTABLE_PAYSLIP_USERS,
    SELECTABLE_PAYROLL_TYPES,
    SELECTABLE_PAYROLL_CLASSES,
    SELECTABLE_FINANCE_SOURCES,
    SELECTABLE_AGENCIES,
    SELECTABLE_DESIGNATION,
    EMPLOYEES,
} from "../../../Config/ApiUrl";


export default {
    name: "ManualPayslip",
    components: {EmployeeCreateEditModel},
    mixins: [FormHelperMixins],
    props: {
        propsPayrunId: '',
        payrun: {}
    },
    data() {
        return {
            formatCurrency,
            numberFormatter,
            preloader: false,
            fetchUserKey: 0,
            fetchDesignationKey: 0,
            selectedUrlUser: '',
            isModalActive: false,
            isModalDesignationActive: false,
            isEmployeeCreateOpenModalActive: false,
            beneficiaries: [],
            prevAllowances: [],
            prevAllowancePercentages: [],
            prevDeductions: [],
            prevDeductionPercentages: [],
            prevContributions: [],
            prevContributionPercentages: [],
            formData:{
                payrun_id: '',
                issue_date: moment().format('YYYY-MM-DD'),
                net_salary:0,
                user_id:'',
                users:[],
                departments:[],
                document_number:'',
                modular_code:'',
                consider_type: 'none',
                payrun_period: 'monthly',
                consider_overtime:true,
                note:null,
                days_worked:30,
                designation_id:'',
                agency_id:'',

                total_bruto: 0,
                total_dscto: 0,
                total_aporte: 0,
                base_imponible: 0,
                total_liquido: 0,

                allowances: [],
                allowanceValues: [],
                allowancePercentages: [],
                deductions: [],
                deductionValues: [],
                deductionPercentages: [],
                contributions: [],
                contributionValues: [],
                contributionPercentages: [],
            },
            payslip:{
                id: 0,
                basic_salary: 0,
                user: {
                    id: '',
                },
            },
            selectedUser:{},
            SELECTABLE_BENEFICIARY_BADGE,
            SELECTABLE_DOCUMENT_TYPES,
            SELECTABLE_FINANCIAL_ENTITIES,
            TENANT_SELECTABLE_PAYSLIP_USERS,
            SELECTABLE_PAYROLL_TYPES,
            SELECTABLE_PAYROLL_CLASSES,
            SELECTABLE_FINANCE_SOURCES,
            SELECTABLE_AGENCIES,
            SELECTABLE_DESIGNATION,
            EMPLOYEES,
        }
    },
    created() {
        // this.$store.dispatch('clearPayrunData');
        // if (this.payrunId) return this.getAndSetPayrunDataToState()
        this.getBeneficiaries();
    },
    mounted() {
        this.$on('reload-user-list', this.recibirEvento);
        this.setPayrunInformation();
    },
    methods: {
        handleMessage(message) {
            this.reloadUserData();
        },
        handleAddedDesignation(message) {
            this.reloadDesignationData();
        },
        submitData() {
            if (!this.formData.user_id) {
                // Mostrar mensaje de error si no se ha seleccionado un usuario
                this.$toastr.e('No se ha seleccionado un usuario.');
                return; // Salir de la función
            }

            this.preloader = true;
            axiosPost(`${this.apiUrl.PAYSLIP_MANUAL_STORE}/${this.formData.user_id}`, this.formData).then(({data}) => {
                // this.$emit('updated')
                this.$toastr.s(data.message);

                if(data.status){
                    this.$hub.$emit('open-payrun-table');
                }
            }).catch((error) => {
                this.errors = error.response.data.errors;
                this.$toastr.e(error.response.data.message);
            }).finally(() => {
                this.preloader = false;
            })
        },
        getBeneficiaries() {
            this.preloader = true;
            axiosGet(this.apiUrl.SELECTABLE_BENEFICIARY_BADGE).then(({data}) => {
                this.beneficiaries = data
            }).finally(() => {
                this.preloader = false;
            })
        },

        openPayrun() {
            this.$hub.$emit('open-payrun-table');
        },
        selectedComponent(value) {
            //console.log(value);
        },
        currentDisableTab(disableTab) {
            //console.log(disableTab);
        },
        removeSelectedAllowance(id, index) {
            this.formData.allowances = this.formData.allowances.filter(item => item !== id);
            this.formData.allowanceValues.splice(index, 1);
            this.prevAllowances.splice(index, 1);
            this.formData.allowancePercentages.splice(index, 1);
            this.prevAllowancePercentages.splice(index, 1);
        },
        removeSelectedDeduction(id, index) {
            this.formData.deductions = this.formData.deductions.filter(item => item !== id);
            this.formData.deductionValues.splice(index, 1);
            this.prevDeductions.splice(index, 1);
            this.formData.deductionPercentages.splice(index, 1);
            this.prevDeductionPercentages.splice(index, 1);
        },
        removeSelectedContribution(id, index) {
            this.formData.contributions = this.formData.contributions.filter(item => item != id);
            this.formData.contributionValues.splice(index, 1);
            this.prevContributions.splice(index, 1);
            this.formData.contributionPercentages.splice(index, 1);
            this.prevContributionPercentages.splice(index, 1);
        },
        addAllowanceId(value) {
            this.prevAllowances.push(value)
            this.formData.allowancePercentages.push(false)
            this.prevAllowancePercentages.push(false)
        },
        removeAllowanceId(value) {
            let index = this.prevAllowances.indexOf(value)
            this.prevAllowances.splice(index, 1);
            this.formData.allowanceValues.splice(index, 1);
            this.prevAllowancePercentages.splice(index, 1);
            this.formData.allowancePercentages.splice(index, 1);
        },
        addDeductionId(value) {
            this.prevDeductions.push(value)
            this.formData.deductionPercentages.push(false)
            this.prevDeductionPercentages.push(false)
        },
        removeDeductionId(value) {
            let index = this.prevDeductions.indexOf(value)
            this.prevDeductions.splice(index, 1);
            this.formData.deductionValues.splice(index, 1);
            this.prevDeductionPercentages.splice(index, 1);
            this.formData.deductionPercentages.splice(index, 1);
        },
        addContributionId(value) {
            this.prevContributions.push(value)
            this.formData.contributionPercentages.push(false)
            this.prevContributionPercentages.push(false)
        },
        removeContributionId(value) {
            let index = this.prevContributions.indexOf(value)
            this.prevContributions.splice(index, 1);
            this.formData.contributionValues.splice(index, 1);
            this.prevContributionPercentages.splice(index, 1);
            this.formData.contributionPercentages.splice(index, 1);
        },
        reloadUserData() {
            this.fetchUserKey++;
        },
        reloadDesignationData() {
            this.fetchDesignationKey++;
        },
        editUserModal(){
            this.selectedUrlUser = `${this.EMPLOYEES}/${this.formData.user_id}`;
            this.isModalActive = true;
        },
        setPayrunInformation(){
            if(this.payrun){
                this.formData.payrun_id = this.payrun.id;
                this.formData.payroll_type_id = this.payrun.payroll_type_id;
                this.formData.payroll_class_id = this.payrun.payroll_class_id;
                this.formData.finance_source_id = this.payrun.finance_source_id;

                try {
                    let dateRange = JSON.parse(this.payrun.data);
                    this.formData.start_date = dateRange.time_range[0];
                    this.formData.end_date = dateRange.time_range[1];
                } catch (error) {
                    console.error('Error al analizar los datos de payrun:', error);
                }
            }

        },
        setTotalHaberes(){
            const totalHaberes = this.totalAllowances;
            this.formData.total_bruto = totalHaberes.toFixed(2);
        },
        setTotalDsctos(){
            this.formData.total_dscto = this.totalDeductions;
        },
        setTotalNeto(){
            const totalBruto = parseFloat(this.formData.total_bruto);
            const totalDscto = parseFloat(this.formData.total_dscto);

            // Verificar si ambos valores son números válidos
            if (!isNaN(totalBruto) && !isNaN(totalDscto)) {
                // Realizar la operación solo si ambos valores son numéricos
                const totalLiquido = totalBruto - totalDscto;
                this.formData.total_liquido = totalLiquido.toFixed(2);
            } else {
                // Manejar el caso en el que uno o ambos valores no sean numéricos
                this.formData.total_liquido = null; // O cualquier otro valor que desees asignar en este caso
                console.error("Al menos uno de los valores no es un número válido.");
            }
        },

    },
    computed: {
        payrunId() {
            return this.propsPayrunId;
        },

        ...mapState({
            generalSettings: state => state.settings
        }),
        logo() {
            if (this.payrunData.logo){
                return urlGenerator(this.payrunData.logo)
            }
            return this.$store.state.settings.tenant_logo
                ? urlGenerator(this.$store.state.settings.tenant_logo)
                : urlGenerator('/images/logo/default-logo.png')
        },
        payrunData() {
            return this.payrun.data;
        },
        allowances() {
            return this.beneficiaries.filter(benefit => benefit.type === 'allowance');
        },
        selectedAllowances() {
            let allowances = this.allowances.filter(benefit => this.formData.allowances.includes(benefit.id));
            let result = [];
            this.formData.allowances.forEach(item => {
                result.push(allowances.find(d => d.id === item))
            })
            return result;
        },
        deductions() {
            return this.beneficiaries.filter(benefit => benefit.type === 'deduction');
        },
        selectedDeductions() {
            let deductions = this.deductions.filter(benefit => this.formData.deductions.includes(benefit.id));
            let result = [];
            this.formData.deductions.forEach(item => {
                result.push(deductions.find(d => d.id == item))
            })
            return result;
        },

        contributions() {
            return this.beneficiaries.filter(benefit => benefit.type === 'contribution');
        },
        selectedContributions() {
            let contributions = this.contributions.filter(benefit => this.formData.contributions.includes(benefit.id));
            let result = [];
            this.formData.contributions.forEach(item => {
                result.push(contributions.find(d => d.id == item))
            })
            return result;
        },
        totalAllowances() {
            let total = 0;
            this.formData.allowances.forEach((item, index) => {
                let allowanceValue = this.formData.allowanceValues[index] ? Number(this.formData.allowanceValues[index]) : 0;
                this.formData.allowancePercentages[index]
                    ? total += this.getPercentageOfSalary(allowanceValue)
                    : total += allowanceValue;
            })
            return total;
        },
        totalDeductions() {
            let total = 0;
            this.formData.deductions.forEach((item, index) => {
                let deductionValue = this.formData.deductionValues[index] ? Number(this.formData.deductionValues[index]) : 0;
                this.formData.deductionPercentages[index]
                    ? total += this.getPercentageOfSalary(deductionValue)
                    : total += deductionValue;
            })
            return total;
        },
        totalContributions() {
            let total = 0;
            this.formData.contributions.forEach((item, index) => {
                let contributionValue = this.formData.contributionValues[index] ? Number(this.formData.contributionValues[index]) : 0;
                this.formData.contributionPercentages[index]
                    ? total += this.getPercentageOfSalary(contributionValue)
                    : total += contributionValue;
            })
            return total;
        },
        totalBeneficiary() {
            return Number(this.totalAllowances - this.totalDeductions);
        },
        months() {
            return Array.apply(null, Array(12)).map((_, i) => {
                return {
                    // Establece el idioma en inglés y luego obtiene la abreviatura del mes
                    id: moment().locale('en').month(i).format('MMM'),
                    // Establece el idioma en el idioma de la aplicación y luego obtiene el nombre completo del mes
                    value: moment().locale(window.appLanguage).month(i).format('MMMM')
                };
            });
        },
        yearsList() {
            let year = new Date().getFullYear()
            let i = 0, arr = []

            while (i < 50){
                arr.push({
                    id: year,
                    value: year
                })
                i++;
                year--
            }
            return arr
        },
    },
    watch: {
        // totalBeneficiary: {
        //     handler: function (totalBeneficiary) {
        //         this.formData.net_salary = this.earnedSalary + totalBeneficiary
        //     },
        // },
        'formData.user_id': function(newValue, oldValue) {
            // Verifica si el nuevo valor es diferente del antiguo valor
            if (newValue !== oldValue) {
            // Realiza la solicitud axios
            axiosGet(`${this.apiUrl.TENANT_SELECTABLE_PAYSLIP_USER}/${newValue}`)
                .then(response => {
                    this.selectedUser = response.data;
                    this.formData.document_number = response.data.profile ? response.data.profile.document_number : '';
                    this.formData.modular_code = response.data.payroll_information ? response.data.payroll_information.modular_code : '';
                    this.formData.users[0] = response.data.id ? response.data.id : null;
                    this.formData.designation_id = response.data.payroll_information ? response.data.payroll_information.designation_id : '';
                    this.formData.agency_id = response.data.payroll_information ? response.data.payroll_information.agency_id : '';
                })
                .catch(error => {
                    console.error('Error al obtener el usuario seleccionado:', error);
                });
            }
        }
    }
}
</script>

<style>

.custom-info-header {
    position: absolute;
    top: -20px;
    left: 20px;
    background: #ffffff;
    padding: 0 10px;
    font-weight: 600;
    font-size: 14px !important;
}

</style>