<template>
    <modal id="education-level-modal"
           v-model="showModal"
           :title="generateModalTitle(' tipo plaza')"
           @submit="submitData"
           :loading="loading"
           :preloader="preloader">
        <form ref="form" :data-url='this.selectedUrl ? this.selectedUrl : apiUrl.EDUCATION_LEVELS'>
            <app-form-group
                label="Código"
                v-model="formData.code"
                placeholder="Código"
                :required="true"
                :error-message="$errorMessage(errors, 'code')"
            />
            <app-form-group
                label="Nombre"
                v-model="formData.name"
                placeholder="Nombre"
                :required="true"
                :error-message="$errorMessage(errors, 'name')"
            />
            <app-form-group
                label="Descripción"
                v-model="formData.description"
                placeholder="Descripción"
                :required="true"
                :error-message="$errorMessage(errors, 'description')"
            />
            <div class="d-flex justify-content-between">
                <app-form-group
                    :label="$t('enabled')"
                    type="radio"
                    :radio-checkbox-name="'enabled'"
                    v-model="formData.is_active"
                    :required="true"
                    :list="[{'id': 1, 'value': 'Yes'}, {'id': 0, 'value': 'No'}]"
                    :error-message="$errorMessage(errors, 'is_active')"
                />
            </div>
            
        </form>
    </modal>
</template>

<script>
import ModalMixin from "../../../../../common/Mixin/Global/ModalMixin";
import FormHelperMixins from "../../../../../common/Mixin/Global/FormHelperMixins";
import {addSelectInSelectArray} from "../../../../../common/Helper/Support/FormHelper";

export default {
    name: "PensionRegimeCreateEditModal",
    mixins: [ModalMixin, FormHelperMixins],
    data() {
        return {
            formData: {
                is_enabled: true,
            }
        }
    },
    methods: {
        afterSuccess({data}) {
            this.toastAndReload(data.message, 'education-level-table');
            this.formData = {};
            $('#education-level-modal').modal('hide');
            this.$emit('input', false);
        }
    },
    computed: {
        
    }
}
</script>

<style scoped>

</style>
