<template>
    <modal id="pension-regime-modal"
           v-model="showModal"
           :title="generateModalTitle(' régimen pensionario')"
           @submit="submitData"
           :loading="loading"
           :preloader="preloader">
        <form ref="form" :data-url='this.selectedUrl ? this.selectedUrl : apiUrl.PENSION_REGIMES'>
            <app-form-group
                label="Nombre"
                v-model="formData.name"
                placeholder="Nombre"
                :required="true"
                :error-message="$errorMessage(errors, 'name')"
            />
            <app-form-group
                label="Descripción"
                v-model="formData.descripcion"
                placeholder="Descripción"
                :required="true"
                :error-message="$errorMessage(errors, 'description')"
            />
            <div class="d-flex justify-content-between">
                <app-form-group
                    :label="$t('enabled')"
                    type="radio"
                    :radio-checkbox-name="'enabled'"
                    v-model="formData.is_active"
                    :required="true"
                    :list="[{'id': 1, 'value': 'Yes'}, {'id': 0, 'value': 'No'}]"
                    :error-message="$errorMessage(errors, 'is_active')"
                />
            </div>
            <app-form-group
                type="number"
                label="Comisión sobre flujo (%)"
                v-model="formData.comision_flujo"
                placeholder="Comisión sobre flujo (%)"
                :required="true"
                :error-message="$errorMessage(errors, 'comision_flujo')"
            />
            <app-form-group
                class="d-none"
                type="number"
                label="Comisión mixta (%)"
                v-model="formData.comision_mixta"
                placeholder="Comisión mixta (%)"
                :required="true"
                :error-message="$errorMessage(errors, 'comision_mixta')"
            />
            <app-form-group
                type="number"
                label="Prima de seguros (%)"
                v-model="formData.prima_seguro"
                placeholder="Prima de seguros (%)"
                :required="true"
                :error-message="$errorMessage(errors, 'prima_seguro')"
            />
            <app-form-group
                type="number"
                label="Aporte obligatorio al fondo de pensiones(%)"
                v-model="formData.aporte_obligatorio"
                placeholder="Aporte obligatorio al fondo de pensiones(%)"
                :required="true"
                :error-message="$errorMessage(errors, 'aporte_obligatorio')"
            />
            <app-form-group
                type="number"
                label="Remuneración máxima asegurable"
                v-model="formData.maxima_asegurable"
                placeholder="Remuneración máxima asegurable"
                :required="true"
                :error-message="$errorMessage(errors, 'maxima_asegurable')"
            />
        </form>
    </modal>
</template>

<script>
import ModalMixin from "../../../../../common/Mixin/Global/ModalMixin";
import FormHelperMixins from "../../../../../common/Mixin/Global/FormHelperMixins";
import {addSelectInSelectArray} from "../../../../../common/Helper/Support/FormHelper";

export default {
    name: "PensionRegimeCreateEditModal",
    mixins: [ModalMixin, FormHelperMixins],
    data() {
        return {
            formData: {
                is_enabled: true,
            }
        }
    },
    methods: {
        afterSuccess({data}) {
            this.toastAndReload(data.message, 'pension-regime-table');
            this.formData = {};
            $('#pension-regime-modal').modal('hide');
            this.$emit('input', false);
        }
    },
    computed: {
        getLeaveTypes() {
            return addSelectInSelectArray([
                {id: 'paid', value: this.$t('paid')},
                {id: 'unpaid', value: this.$t('unpaid')},
            ], 'value', 'type');
        }
    }
}
</script>

<style scoped>

</style>
